/* 首页 */

body {
  background: url('../img/bg_index.png');
}

.img {
  width: 1555px;
  height: 843px;
  margin: 50px auto 0 auto;
  background: url('../img/img_index.png') no-repeat;
  position: relative;
}

.img span {
  font-size: 36px;
  color: #83141c;
  position: absolute;
  bottom: 70px;
  left: 855px;
  z-index: 2;
}

.img a {
  display: block;
  width: 230px;
  height: 36px;
  position: absolute;
  top: 2px;
  left: 225px;
  z-index: 2;
}