body.index,
body.minor {
  min-width: 1200px;
  background-color: #fdf9f1;
}

body.index .top,
body.minor .top {
  width: 100%;
  position: relative;
}

body.index .top {
  height: 430px;
  background: url('../img/bg_index.png');
}

body.minor .top {
  height: 60px;
  background: #f8e9ce;
}

body.index .top .banner {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  background: url('../img/index_banner.png') no-repeat bottom center;
}

.top .menu {
  width: 1200px;
  height: 60px;
  margin-left: -600px;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
}

.top .menu .logo {
  float: left;
  width: 232px;
  height: 100%;
}

.top .menu .link {
  float: right;
  padding: 3px 9px;
  margin: 15px;
  border-radius: 3px;
  font-weight: lighter;
  background: #f19f7d;
  color: #fff;
}

.top .menu .link:hover {
  background: #e7875d;
}

.top .menu .user {
  float: right;
  height: 30px;
  margin: 15px;
  position: relative;
}

.top .menu .user>img {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.top .menu .user a {
  float: left;
  height: 30px;
  color: #222;
}

.top .menu .user a span {
  float: left;
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top .menu .user ul,
.nav-list .tit ul {
  display: none;
  font-size: 14px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 3;
}

.top .menu .user ul {
  width: 90px;
  top: 35px;
}

.nav-list .tit ul {
  width: 120px;
  top: 45px;
  border: solid 1px #d8b785;
}

.top .menu .user ul li,
.top .menu .user ul li a,
.nav-list .tit ul li,
.nav-list .tit ul li a {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  border-bottom: solid 1px #eee;
  background: #fff;
  color: #999;
}

.top .menu .user ul li a:hover,
.nav-list .tit ul li a:hover {
  background: #f6f6f6;
}

.top .menu .user .is-show {
  display: block;
  animation: fadeUser .2s linear 0s 1;
}

@keyframes fadeUser {
  0% {
    opacity: 0;
    top: 85px;
  }
  100% {
    opacity: 1;
    top: 35px;
  }
}

.nav-list .tit .is-show {
  display: block;
  animation: fadeList .2s linear 0s 1;
}

@keyframes fadeList {
  0% {
    opacity: 0;
    top: 105px;
  }
  100% {
    opacity: 1;
    top: 45px;
  }
}

.content-1,
.content-2,
.content-3,
.content-4,
.content-5 {
  width: 100%;
  background: #fdf9f1;
}

.content-2 {
  background: url('../img/index_bg_03.png') repeat-x;
}

.content-5 {
  background: #bb6b4c;
}

.content-1 .title,
.content-2 .title,
.content-4 .title,
.content-5 .title {
  width: 100%;
  height: 110px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.content-1 .title {
  background-image: url('../img/index_tit_01.png');
}

.content-2 .title {
  background-image: url('../img/index_tit_02.png');
}

.content-4 .title {
  background-image: url('../img/index_tit_03.png');
}

.content-5 .title {
  background-image: url('../img/index_tit_04.png');
}

.content-1 {
  position: relative;
  height: 435px;
}

.content-1 .bg-l,
.content-1 .bg-r {
  position: absolute;
  z-index: 2;
}

.content-1 .bg-l {
  top: 85px;
  left: 0;
}

.content-1 .bg-r {
  bottom: 20px;
  right: 0;
}

.content-1 .txt {
  width: 1070px;
  height: 210px;
  margin: -70px 0 0 -535px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
}

.content-1 .txt .book-l,
.content-1 .txt .book-r {
  position: absolute;
  z-index: 4;
  top: -12px;
}

.content-1 .txt .book-l {
  left: -25px;
}

.content-1 .txt .book-r {
  right: -25px;
}

.content-1 .txt p {
  display: block;
  width: 910px;
  height: 110px;
  line-height: 26px;
  padding: 25px 55px;
  border: solid 25px #d9b886;
  background: #faf3e7;
  color: #333;
  text-align: left;
}

.content-1 .txt p a {
  color: #ef7d4e;
}

.content-1 .txt p a:hover {
  text-decoration: underline;
}

.content-2 {
  position: relative;
  height: 500px;
}

.content-2 .title {
  height: 100px;
}

.content-2 .bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -586px;
}

.content-2 .nav {
  width: 858px;
  height: auto !important;
  height: 100px;
  min-height: 100px;
  line-height: 28px;
  font-weight: lighter;
  position: absolute;
  z-index: 3;
  top: 120px;
  left: 50%;
  margin-left: -429px;
}

.content-2 .nav p {
  color: #fff
}

.content-2 .nav .cards {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 240px;
  margin-top: 46px;
}

.content-2 .nav .cards li {
  float: left;
  width: 286px;
  height: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}

.content-2 .nav .cards li.a {
  background-image: url('../img/index_bg_01.png');
}

.content-2 .nav .cards li.b {
  background-image: url('../img/index_bg_02.png');
}

.content-2 .nav .cards li img {
  margin: 0 auto;
}

.content-2 .nav .cards li span {
  font-size: 14px;
}

.content-2 .nav .cards li.a span {
  color: #666;
}

.content-2 .nav .cards li.b span {
  color: #fff;
}

.content-3 {
  margin-top: 46px;
  height: auto !important;
  height: 500px;
  min-height: 500px;
}

.content-3 .ew_tab {
  margin: 0 auto;
  width: 1120px;
  height: 500px;
}

.content-3 .ew_tab ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 330px;
  height: 58px;
}

.content-3 .ew_tab ul li {
  float: left;
  width: 165px;
  height: 58px;
  text-indent: -99999px;
  cursor: pointer;
  background-image: url('../img/index_btn.png');
  background-repeat: no-repeat;
}

.content-3 .ew_tab ul li.a {
  background-position-x: 0;
  background-position-y: 0;
}

.content-3 .ew_tab ul li.b {
  background-position-x: -165px;
  background-position-y: 0;
}

.content-3 .ew_tab li.tab-cur.a,
.content-3 .ew_tab li.tab-cur.b {
  background-position-y: -58px;
}

.content-3 .ew_tab .tab-c {
  display: none;
}

.content-3 .ew_tab .tab-c>span {
  line-height: 80px;
  color: #d8b785;
}

.content-3 .device {
  width: 997px;
  height: 380px;
  margin: 0 auto;
  position: relative;
  background: url('../img/index_bg_05.png') no-repeat center bottom;
}

.content-3 .device .arrow-left {
  position: absolute;
  left: -60px;
  top: 25%;
  width: 60px;
  height: 60px;
  background: url('../img/index_arrow_l.png') no-repeat;
}

.content-3 .device .arrow-right {
  position: absolute;
  right: -60px;
  top: 25%;
  width: 60px;
  height: 60px;
  background: url('../img/index_arrow_r.png') no-repeat;
}

.content-3 .device .arrow-left:hover {
  background: url('../img/index_arrow_lh.png') no-repeat;
}

.content-3 .device .arrow-right:hover {
  background: url('../img/index_arrow_rh.png') no-repeat;
}

.content-3 .swiper-container {
  width: 965px;
  height: 255px;
}

.content-3 .swiper-slide ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: auto;
  height: 100%;
  margin: 0 100px;
}

.content-3 .swiper-slide ul li {
  width: 195px;
  height: 255px;
  margin: 0 30px;
  text-indent: 0;
  position: relative;
}

.content-3 .swiper-slide ul li .cover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: url(../img/bg_cover.png);
}

.content-3 .swiper-slide ul li .cover span {
  display: block;
  width: 190px;
  margin: 60px 2px 0 2px;
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-3 .swiper-slide ul li .cover a {
  float: left;
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin: 0 18px;
  font-size: 19px;
  background: #ccaa71;
  color: #fff;
}

.content-3 .swiper-slide ul li .cover a:hover {
  background: #dfc599;
}

.content-3 .swiper-slide ul li .cover a.guide {
  display: block;
  margin: 0;
  width: 100%;
  height: 104px;
  background: transparent;
}

.content-3 .swiper-slide ul li img {
  width: 100%;
  height: 100%;
}

.content-3 .swiper-slide ul li .cover img {
  width: 64px;
  height: 64px;
  margin: 20px auto;
}

.content-4 {
  height: 400px;
  position: relative;
}

.content-4 .title {
  height: 70px;
}

.content-4 .txt {
  width: 481px;
  height: 129px;
  padding: 150px 400px 60px 110px;
  text-align: left;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -495px;
  background: url('../img/index_bg_06.png') no-repeat center top;
}

.content-4 .txt p {
  display: block;
  width: 100%;
  line-height: 24px;
  font-size: 18px;
  color: #333;
  ;
}

.content-4 .txt a {
  display: block;
  width: 110px;
  padding: 3px 0;
  margin: 20px 0;
  border: solid 1px #bb6b4c;
  background: #fdf9f1;
  font-size: 20px;
  color: #bb6b4c;
  text-align: center;
}

.content-4 .txt a:hover {
  background: #fff6e5;
}

.content-5 {
  position: relative;
  height: 585px;
}

.content-5 .title {
  height: 90px;
}

.content-5 .bg-l,
.content-5 .bg-r {
  position: absolute;
  z-index: 2;
}

.content-5 .bg-l {
  top: 28px;
  left: 0;
}

.content-5 .bg-r {
  top: 68px;
  right: 0;
}

.content-5 .txt {
  width: 1198px;
  position: absolute;
  z-index: 3;
  top: 90px;
  left: 50%;
  margin-left: -594px;
}

.content-5 .txt div {
  float: left;
  width: 515px;
  margin: 0 42px;
  text-align: left;
  color: #fff;
}

.content-5 .txt div h1,
.content-5 .txt div p {
  float: left;
  width: 100%;
  font-weight: lighter;
}

.content-5 .txt div h1 {
  height: 80px;
  line-height: 80px;
  font-size: 22px;
}

.content-5 .txt div p {
  line-height: 26px;
  font-size: 14px;
}

.footer {
  width: 100%;
  height: 48px;
  padding: 9px 0;
  background: #d9b886;
  font-size: 12px;
  color: #fff;
}

.footer div {
  width: 100%;
  line-height: 24px;
}

.footer a {
  margin-right: 5px;
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
}

#bg {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  filter: Alpha(opacity=40);
  opacity: 0.4;
  background: #000;
  display: none;
  z-index: 99997;
}

#popbox,
#popbox4,
.popIn {
  position: fixed;
  width: 700px;
  height: 530px;
  left: 50%;
  top: 50%;
  margin: -265px 0 0 -350px;
  display: none;
  background: #fdf9f1;
  z-index: 99998;
}

#popbox .close,
#popbox4 .close,
.popIn .close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 99999;
  top: 20px;
  right: 20px;
}

#popbox h1,
#popbox4 h1,
.popIn h1 {
  display: block;
  width: 100%;
  height: 128px;
  line-height: 128px;
  font-size: 18px;
  font-weight: lighter;
  color: #af8e5f;
  background: url('../img/index_bg_07.png') no-repeat center center;
}

#popbox .login_nav,
.popIn .login_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 520px;
  margin: 0 auto;
}

.popIn .login_nav {
  width: 370px;
}

#popbox .login_nav:after,
.popIn .login_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

#popbox .login_nav li {
  width: 480px;
  height: 58px;
  padding: 0 20px;
  border: solid 1px #af8e5f;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
}

#popbox .login_nav li input.institution_option,
#popbox .login_nav li input.password,
#popbox .login_nav li input.text,
.popIn .login_nav li input {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 58px;
  line-height: 58px;
  border: none;
  font-size: 18px;
  font-weight: lighter;
  background: transparent;
  color: #999;
  text-align: left;
}

.popIn .login_nav li input {
  width: 324px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #999;
  display: inline-block;
  background: url(../img/index_bg_08.png) no-repeat center center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: textfield;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.popIn .login_nav li label {
  font-size: 16px;
  color: #333333;
  line-height: 60px;
  margin-left: 4px;
}

.popIn .login_nav li .tip {
  font-size: 18px;
  color: #ab4131;
  text-align: left;
  line-height: 60px;
  opacity: 0;
}

#popbox input::-webkit-input-placeholder {
  color: #cbcbcb;
}

#popbox input:-moz-placeholder {
  color: #cbcbcb;
}

#popbox input::-moz-placeholder {
  color: #cbcbcb;
}

#popbox input:-ms-input-placeholder {
  color: #cbcbcb;
}

#popbox .submit,
.popIn .confirm {
  display: block;
  width: 300px;
  height: 58px;
  line-height: 58px;
  margin: 20px auto;
  font-size: 24px;
  font-weight: lighter;
  background: #af8e5f;
  color: #fff;
  border-radius: 3px;
}

#popbox .submit:hover,
.popIn .confirm:hover {
  background: #a5804d;
}

#popbox .forget {
  position: absolute;
  z-index: 2;
  right: 80px;
  bottom: 130px;
  font-size: 16px;
  color: #af8e5f;
}

#popbox .forget:hover {
  text-decoration: underline;
}

#popbox .login_nav li dl,
#popbox1 .login_nav li dl {
  top: 58px;
  left: -1px;
  z-index: 99999;
  position: absolute;
  display: none;
  width: 520px;
  border: solid 1px #d3b181;
  background: #fff;
  height: 300px;
  overflow-y: auto;
}

#popbox1 .login_nav li dl.grade_selects {
  top: 187px;
  left: 172px;
  width: 314px;
}

#popbox1 .login_nav li dl.class_selects {
  top: 307px;
  left: 172px;
  width: 314px;
}

#popbox .login_nav li dl::-webkit-scrollbar,
#popbox1 .login_nav li dl::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

#popbox .login_nav li dl::-webkit-scrollbar-thumb,
#popbox1 .login_nav li dl::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a4a4a4;
}

#popbox .login_nav li dl dd,
#popbox1 .login_nav li dl dd {
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  font-weight: lighter;
}

#popbox .login_nav li dl dd a,
#popbox1 .login_nav li dl dd a {
  display: block;
  width: 100%;
  height: 100%;
  color: #999;
}

#popbox .login_nav li dl dd a:hover,
#popbox1 .login_nav li dl dd a:hover {
  background: #f6f6f6;
}

#popbox .login_nav li .is-show {
  display: block;
  animation: fadeSchool .2s linear 0s 1;
}

@keyframes fadeSchool {
  0% {
    opacity: 0;
    top: 85px;
  }
  100% {
    opacity: 1;
    top: 58px;
  }
}

#popbox1 .login_nav li .grade_selects.is-show {
  display: block;
  animation: fadeGrade .2s linear 0s 1;
}

@keyframes fadeGrade {
  0% {
    opacity: 0;
    top: 250px;
  }
  100% {
    opacity: 1;
    top: 188px;
  }
}

#popbox1 .login_nav li .class_selects.is-show {
  display: block;
  animation: fadeClass .2s linear 0s 1;
}

@keyframes fadeClass {
  0% {
    opacity: 0;
    top: 400px;
  }
  100% {
    opacity: 1;
    top: 307px;
  }
}

.popIn.popInput2 {
  width: 639px;
  height: 320px;
}

.popInput2 .info {
  font-size: 18px;
  color: #af8e5f;
  line-height: 100px;
  margin-top: 60px;
}

.popInput2 .info img {
  display: inline;
  vertical-align: sub;
}

.popIn.popInput3 {
  width: 700px;
  height: 487px;
}

.popInput3 .info {
  font-size: 18px;
  color: #af8e5f;
  margin-top: 80px;
}

.popInput3 .info img {
  display: inline;
  margin-top: 40px;
}

/* 排行榜 */

body.minor .center {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  background-image: url('../img/minor_bg_01.png');
  background-repeat: repeat-x;
  background-position-y: bottom;
  position: relative;
}

body.minor .center .bg-l,
body.minor .center .bg-r {
  position: absolute;
  z-index: 2;
}

body.minor .center .bg-l {
  top: 300px;
  left: 0;
}

body.minor .center .bg-r {
  top: 115px;
  right: 0;
}

body.minor .center .nav-1 {
  margin: 0 auto;
  width: 1200px;
  height: auto !important;
  height: 700px;
  min-height: 700px;
  position: inherit;
  z-index: 3;
}

.nav-1 .crumb {
  width: 100%;
  height: 75px;
  line-height: 75px;
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  color: #af8e5f;
}

.nav-1 .crumb a {
  color: #dbc193;
}

.nav-1 .nav-list {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
}

.nav-1 .nav-list>div {
  float: left;
  width: 540px;
  height: auto !important;
  height: 500px;
  min-height: 500px;
  margin: 0 30px;
}

.nav-1 .nav-list>div .tit {
  width: 228px;
  height: 48px;
  line-height: 48px;
  margin: 0 156px;
  font-size: 18px;
  color: #af8e5f;
  background: url('../img/index_bg_07.png') no-repeat center center;
  position: relative;
}

.nav-1 .nav-list>div .tit strong,
.nav-1 .nav-list>div .tit a {
  float: left;
  font-weight: lighter;
  color: #af8e5f;
}

.nav-1 .nav-list .left .tit strong {
  width: 115px;
}

.nav-1 .nav-list .right .tit strong {
  width: 100%;
}

.nav-1 .nav-list>div .tit a span {
  float: left;
  width: 75px;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-1 .nav-list>div .tit a img {
  margin: 9px auto;
}

.nav-1 .nav-list>div .outside {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 536px;
  padding: 5px;
  margin: 24px 0 180px 0;
  border: solid 2px #ceb999;
}

.nav-1 .nav-list>div .inside {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 532px;
  border: solid 2px #af8e5f;
}

.nav-1 .nav-list>div .inside table {
  width: 100%;
}

.nav-1 .nav-list>div .inside td {
  padding: 0 20px;
}

.nav-1 .nav-list>div .inside thead {
  width: 100%;
  height: 54px;
  line-height: 54px;
  background: #f9f6f0;
  color: #af8e5f;
}

.nav-1 .nav-list>div .inside thead td {
  text-align: left;
}

.nav-1 .nav-list>div .inside tbody {
  width: 100%;
  line-height: 54px;
  background: #fff;
}

.nav-1 .nav-list>div .inside tbody td {
  height: 74px;
  line-height: 74px;
  font-size: 14px;
  border-bottom: solid 1px #f6f4f1;
  text-align: left;
  color: #333;
}

.nav-1 .nav-list>div .inside tbody td .img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 17px 0;
  position: relative;
}

.nav-1 .nav-list>div .inside tbody td .img img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-1 .nav-list>div .inside tbody td .img s,
.nav-1 .nav-list>div .inside tbody td s {
  display: block;
  border-radius: 50%;
  text-decoration: none;
  background: #d1a651;
  color: #fff;
  text-align: center;
}

.nav-1 .nav-list>div .inside tbody td .img s {
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 10px;
  position: absolute;
  z-index: 2;
  left: -5px;
  top: -2px;
  margin: 0;
}

.nav-1 .nav-list>div .inside tbody td s {
  float: left;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  margin: 28px 0;
}

.nav-1 .nav-list>div .inside tbody td .img s.t,
.nav-1 .nav-list>div .inside tbody td s.t {
  background: #b9694a;
}

.nav-1 .nav-list>div .inside tbody td .txt {
  float: left;
  width: 175px;
  height: 74px;
  text-indent: 15px;
}

.nav-1 .nav-list>div .inside tbody td .txt strong {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-1 .nav-list>div .inside tbody td strong {
  float: left;
  width: 195px;
  height: 74px;
  line-height: 74px;
  text-indent: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-1 .nav-list>div .inside tbody td .txt span {
  display: block;
  width: 100%;
  height: 34px;
  line-height: 16px;
  font-size: 12px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*榜单说明*/

.nav-1 .nav-list>div.remark {
  width: 70%;
  color: #af8e5f;
  line-height: 35px;
  margin-left: 15%;
}

.nav-1 .nav-list>div.remark ul {
  text-align: left;
}

/* 答题页 */

.nav-1 .nav-test {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 830px;
  height: auto !important;
  height: 520px;
  min-height: 520px;
  border: solid 2px #af8e5f;
  padding: 35px;
  margin: 60px auto;
  background: #fff;
  position: relative;
}

.nav-test .route {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 860px;
  margin: 0 20px;
  position: absolute;
  z-index: 2;
  top: -26px;
  left: 0;
}

.nav-test.answer .route {
  text-indent: -99999px
}

.nav-test .route li {
  float: left;
  width: 86px;
  height: 51px;
  line-height: 51px;
  font-size: 18px;
  background-image: url('../img/test_icon_03.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.nav-test .route li a {
  color: #d9b886;
}

.nav-test .route li.end a,
.nav-test .route li.current a,
.nav-test .route li:hover a {
  color: #fff;
}

.nav-test .route li.end,
.nav-test .route li:hover {
  background-image: url('../img/test_icon_01.png');
}

.nav-test .route li.current {
  background-image: url('../img/test_icon_02.png');
}

.nav-test .route li.right {
  background-image: url('../img/test_icon_11.png');
}

.nav-test .route li.right.current,
.nav-test .route li.right:hover {
  background-image: url('../img/test_icon_12.png');
}

.nav-test .route li.wrong {
  background-image: url('../img/test_icon_13.png');
}

.nav-test .route li.wrong.current,
.nav-test .route li.wrong:hover {
  background-image: url('../img/test_icon_14.png');
}

.nav-test .nav-main {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: auto;
  text-align: left;
}

.nav-test .nav-main {
  width: 100%;
  font-size: 18px;
  color: #333;
}

.nav-test .nav-main .tit {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: auto !important;
  height: 64px;
  min-height: 64px;
  line-height: 36px;
  margin: 20px auto;
}

.nav-test .nav-main>ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 830px
}

.nav-test .nav-main>ul li {
  display: block;
  width: 790px;
  height: auto;
  line-height: 40px;
  padding: 0 20px;
  margin-bottom: 8px;
  cursor: pointer;
}

.nav-test .nav-main>ul li:hover {
  background: #fdf9f1;
}

.nav-test .nav-main>ul li.current {
  background: #f8e9ce;
}

.nav-test .nav-main>span {
  display: block;
  width: 790px;
  height: auto;
  line-height: 40px;
  padding: 0 20px;
  background: #eef1ec;
  color: #688858;
}

.nav-btn {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 384px;
  margin: 0 auto 60px auto;
}

.nav-btn a {
  float: left;
  width: 120px;
  height: 40px;
  margin: 0 35px;
  border: solid 1px #af8e5f;
  font-size: 18px;
  color: #d9b886;
  background: #fff;
}

.nav-btn a span {
  display: block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  margin: 4px;
  border: solid 1px #af8e5f;
}

.nav-btn a:hover span {
  background: #f9f6f0;
}

/* 新增样式 */

#popbox .finish {
  width: 100%;
}

#popbox .finish img {
  margin: 70px auto 50px auto;
}

#popbox .finish p {
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  color: #b6874e;
}

#popbox .but_1 {
  float: left;
  margin: 40px 40px 40px 100px;
  width: 208px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  font-weight: lighter;
  background: #fdf9f1;
  color: #af8e5f;
  border-radius: 3px;
  border: solid 1px #af8e5f;
}

#popbox .but_2 {
  float: left;
  margin: 40px 100px 40px 40px;
  width: 208px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  font-weight: lighter;
  background: #af8e5f;
  color: #fff;
  border-radius: 3px;
  border: solid 1px #af8e5f;
}

#popbox .but_2:hover {
  background: #a5804d;
}

#popbox4 {
  width: 1080px;
  height: 790px;
  margin: -395px 0 0 -540px;
  background: #fdf9f1 url('../img/bg_img_11.png') no-repeat center center;
}

#popbox4 span {
  font-size: 14px;
  color: #999;
}

#popbox4 .nav_box {
  width: 920px;
  margin: 35px 80px;
}

#popbox4 .cert_01,
#popbox4 .cert_02,
#popbox4 .cert_03 {
  display: inline-table;
  margin: 0 15px;
  width: 303px;
  height: 349px;
  padding: 220px 50px 0 50px;
  font-size: 14px;
  text-align: left;
  color: #333;
}

#popbox4 .cert_01 {
  background: url('../img/bg_img_01.png') no-repeat;
}

#popbox4 .cert_02 {
  background: url('../img/bg_img_02.png') no-repeat;
}

#popbox4 .cert_03 {
  background: url('../img/bg_img_03.png') no-repeat center center;
}

#popbox4 .nav_box p {
  margin: 15px 0;
  line-height: 22px;
}

#popbox4 .nav_box p.indent {
  text-indent: 28px;
}