/*图书简介css*/

a,
a:link {
	/*  color: black; */
}


/*公共样式--绿圈/红圈等*/

.fontGrey {
	color: #989898;
}

.fontGrey2 {
	color: #666666;
}

.greenCircle {
	margin: 0 5px;
	border: solid 1px #56be47;
	color: #56be47;
	background: #fff;
	border-radius: 15px;
	cursor: pointer;
}

.redCircle {
	margin: 5px auto;
	border: solid 1px #fd6951;
	border-radius: 15px;
	color: #fd6951;
}

.font14 {
	font-size: 14px;
}

.clear {
	clear: both;
}

.fontGreen {
	color: #56be47;
}

a.fontGreen {
	color: #56be47;
}

.greenBg {
	color: #fff !important;
	background: #56be47;
}

.greenBorder {
	color: #56BE47 !important;
	border: 1px solid #39a629;
}

.font16 {
	font-size: 16px;
}

.fontRed {
	color: #fd6951;
}


/*公共结束*/

.curriculum_nav.bookIntro_nav {
	background: none;
	text-align: left;
	font-size: 14px;
	height: auto !important;
}

.bookIntro_nav .default_nav {
	padding: 16px;
	height: auto !important;
}

.bookIntro_detail {
	padding: 10px 0 30px 0;
}

.bookIntro_detail .detail_img {
	width: 200px;
	height: 200px;
	border: 1px solid #ddd;
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.detailImg_big {
	/* width: 122px;
	height: 168px;
	margin: 16px 10px 0 28px; */
	box-shadow: 0 0 0 #fff !important;
	margin: 0 auto;
}

.detail_img .icon-qrcode {
	position: absolute;
	right: 1px;
	bottom: 1px;
	z-index: 3;
}

.detailImg_qrbig {
	position: absolute;
	left: -1px;
	top: 1px;
	z-index: 4;
	opacity: 0;
	width: 200px;
	height: 200px;
}

.detailImg_qrbig:hover {
	opacity: 1;
}

.bookIntro_detail .detail_txt_title1 {
	font-size: 24px;
}

.detail_txt {
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 1;
}

.detail_txt_title>a {
	padding: 1px 10px;
	cursor: pointer;
}

.detail_txt_grey span {
	margin: 0 10px;
	line-height: 40px;
}

.detail_txt_intro>.fontGrey2 {
	width: 710px;
	min-height: 70px;
}

.chaochu_shenglue,
.bookItro_read_shenglue {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 58px;
}

.chaochu_shenglue {
	height: 74px;
}

.detail_txt_intro .pHeight {
	min-height: 60px;
	display: inline;
}

.zhankai_quanbu {
	color: #56be47;
	float: right;
	margin-right: 70px;
	cursor: pointer;
	position: absolute;
	right: -40px;
	top: 150px;
}

.detail_txt_intro {
	max-height: 100px;
	overflow: hidden;
	line-height: 24px;
}

.detail_txt_click {
	margin: 20px 0 10px 0;
}

.detail_txt_click>a {
	color: #56be47;
	border: 1px solid #39a629;
	padding: 4px 10px;
	border-radius: 15px;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.detail_txt_click>a#question:hover {
	background-color: #56be47;
	color: white;
}

.detail_txt_click .detail_txt_click1 {
	cursor: pointer;
}

.detail_txt_click .greenBg {
	color: white;
}


/*读后感*/

.bookItro_read_title1 {
	font-size: 20px;
	margin-right: 10px;
}

.bookItro_read {
	width: 702px;
	float: left;
	margin: 30px 0;
}

.bookItro_read_title {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.bookItro_read_title_write {
	float: right;
	color: #56be47;
	cursor: pointer;
	margin-top: 8px;
}

.bookItro_read_list {
	border-bottom: 1px solid #ddd;
	padding: 10px 10px 10px 0;
	/* cursor: pointer; */
	min-height: 120px;
}

.bookItro_read_list:hover {
	background-color: #f7f7f7;
}

.bookItro_read_list_left {
	float: left;
	margin-right: 20px;
	height: 100%;
	text-align: center;
	width: 56px;
}

.bookItro_read_list_left span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
}

.bookItro_read_list_left img.bookItro_read_list_avatar {
	border-radius: 50%;
	margin: 10px 0;
	width: 56px;
	height: 56px;
	box-shadow: 0px 0px 0px 1px #e5e5e5 !important;
}

.bookItro_read_list_name {
	color: #343434;
	margin-bottom: 2px;
}

span.bookItro_read_list_school {
	color: #989898;
}

p.bookItro_read_list_right1.fontGrey {
	color: #ccc;
}

p.bookItro_read_list_right1.fontGrey span {
	color: #989898;
}

p.bookItro_read_list_right1.fontGrey span.activeGreen {
	color: #56be47;
}

.bookItro_read_list_centre .bookItro_read_list_title {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bookItro_read_list_centre p {
	line-height: 20px;
}

.bookItro_read_list_time span {
	font-size: 12px;
}

.bookItro_read_list_right {
	float: right;
	opacity: 0;
	margin-top: -10px;
}

.bookItro_read_list_right1 {
	float: right;
	cursor: pointer;
}

.bookItro_read_list_centre .fontGrey2 {
	margin-bottom: 20px;
	/*max-height: 400px;*/
	overflow: hidden;
	min-height: 64px;
}

.bookItro_read_list_time1 {
	margin-left: 77px;
}

.detail_txt_intro_open {
	margin-right: 0;
	color: #56BE47;
	cursor: pointer;
}

.bookItro_read_list_right i {
	margin: 0 10px;
	cursor: pointer;
}

.bookItro_read_list_right i.icon-delete:hover {
	color: red;
}

.bookItro_read_list:hover .bookItro_read_list_right {
	opacity: 1;
}

.bookItro_read_lists_others {
	text-align: center;
	line-height: 62px;
}

.bookItro_read_lists_others a {
	color: #56be47;
}


/*分页*/

.bookItro_read_lists_page.scott {
	color: #56be47;
	width: 94%;
	padding: 0 3%;
	margin: 20px 0 20px 0;
	text-align: center;
}

div.bookItro_read_lists_page.scott span.disabled,
div.bookItro_read_lists_page.scott a.arrow {
	color: #ccc;
	border-color: #ccc;
	padding: 0;
}

.bookItro_read_lists_page.scott .current {
	border-color: #56be47;
	color: #fff;
	background: #56be47;
	padding: 0;
}

.bookItro_read_lists_page.scott a,
.bookItro_read_lists_page.scott span {
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	border-color: #fff;
	font-size: .75rem;
	padding: 0;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	color: #666;
	background: #fff;
}

.bookItro_read_lists_page.scott a:hover,
.bookItro_read_lists_page.scott span:hover {
	color: #fff;
	background-color: #ddd;
}

.bookItro_read_no {
	text-align: center;
}

.noRead .icon-empty-thoughts {
	font-size: 150px;
}


/*右侧推荐栏*/

.bookIntro_right {
	float: right;
}

.bookIntro_right_pass_title {
	font-size: 20px;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}

.bookIntro_right_pass_img {
	border-radius: 50%;
	float: left;
	margin-right: 10px;
	width: 56px;
	height: 56px;
}

.bookIntro_right_pass_name {
	margin-top: 10px;
}

.bookIntro_right_pass_list {
	padding: 10px 0;
	cursor: pointer;
}

.bookIntro_right_pass_list .fontGrey {
	float: right;
	margin-top: 10px;
}

.bookIntro_right_recommend_img img {
	width: 206px;
	height: 123px;
}

.bookIntro_right_recommend_img p {
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.activeGreen {
	color: #56be47;
}

.activeLove {
	color: #fd6951;
}


/*弹窗*/

.noRead_popUp,
.hasRead_popUp,
.planTo_popUp,
.start_popUp,
.cancelCollect_popUp {
	display: none;
	font-size: 14px;
}

.popUpBg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.popUpCon {
	top: 50%;
	/*right: 0;*/
	/*bottom: 0;*/
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	z-index: 5;
	position: fixed;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	/*display: none;*/
	width: 600px;
	height: 426px;
	border-radius: 4px;
	background: #fff;
	text-align: left;
}

.popUpCon_title,
.popUpCon_title2,
.popUpCon_txt {
	border-bottom: 1px solid #ddd;
	resize: none;
}

.popUpCon_title {
	float: left;
	text-align: left;
	width: 100%;
	font-size: 16px;
	padding: 20px 0;
}

.popUpCon_title_big {
	margin-left: 15px;
}

.popUpCon_title2,
.popUpCon_txt {
	margin: 0 20px;
	resize: none;
}

.popUpCon_title2 input {
	width: 93%;
	border: 0;
	margin: 20px;
}

.popUpCon2 .popUp_planTime {
	border: 1px solid #ddd;
	padding: 5px;
	letter-spacing: 5px;
	border-radius: 5px;
}

.popUpCon_txt {
	width: 87%;
	min-height: 200px;
	border: 0;
	text-align: left;
	padding: 20px;
	resize: none;
}

.popUpCon_title_right {
	color: #56be47;
	float: right;
	font-size: 14px;
	margin-right: 40px;
}

.popUpCon div.popUpCon_btn {
	border-bottom: 1px solid #ddd;
}

.popUpCon div.popUpCon_btn a {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: #56BE47;
	padding: 6px;
	border-radius: 15px;
	text-align: center;
	margin: 15px auto;
	width: 60px;
}

.popUpCon div.popUpCon_btn>span {
	position: absolute;
	right: 130px;
	bottom: 20px;
}


/*删除读后感弹窗*/

.deleteRead_popUp {
	display: none;
}

.popUpCon1 {
	top: 50%;
	/*right: 0;*/
	/*bottom: 0;*/
	left: 50%;
	margin-left: -130px;
	margin-top: -70px;
	z-index: 5;
	position: fixed;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	/*display: none;*/
	width: 260px;
	height: 140px;
	border-radius: 4px;
	background: #fff;
	text-align: left;
}

.popUpCon s,
.popUpCon1 s,
.popUpCon2 s,
.popUpCon3 s,
.popUpCon4 s {
	top: 8px;
	right: 12px;
	bottom: auto;
	left: auto;
	z-index: 6;
	position: absolute;
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: lighter;
	color: #ccc;
	cursor: pointer;
}

.popUpCon s {
	top: 17px !important;
}

.popUpCon1 p,
.popUpCon4 p {
	line-height: 70px;
	text-align: center;
	margin-bottom: 20px;
}

.popUpCon1 a,
.popUpCon2 a,
.popUpCon4 a {
	padding: 5px 19px;
	border-radius: 15px;
	margin: 0 27px;
	font-size: 14px;
	position: absolute;
	bottom: 15px;
}


/*计划完成时间弹窗*/

.popUpCon2 {
	top: 50%;
	/*right: 0;*/
	/*bottom: 0;*/
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	z-index: 5;
	position: fixed;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	/*display: none;*/
	width: 300px;
	height: 200px;
	border-radius: 4px;
	background: #fff;
	text-align: left;
	padding: 20px;
}

.popUpCon2 p {
	line-height: 50px;
	font-size: 16px;
}

.popUpCon2_btn {
	margin-top: 20px;
	text-align: right;
}

.popUpCon2_btn a {
	margin: 0 5px;
}

.popUpCon2_select input,
.popUpCon2_select label {
	margin-right: 10px;
}


/*开始测评弹窗*/

.popUpCon3 {
	top: 50%;
	/*right: 0;*/
	/*bottom: 0;*/
	left: 50%;
	margin-left: -175px;
	margin-top: -130px;
	z-index: 5;
	position: fixed;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	/*display: none;*/
	width: 350px;
	min-height: 260px;
	border-radius: 10px;
	background: #fff;
	text-align: left;
}

.popUpCon3 .fontBlue {
	color: #4298f7;
}

.start_popUp_link {
	padding: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.popUpCon3 .fontBlue {
	padding: 10px 20px;
}

.popUpCon3 .degree {
	padding: 0 20px 20px 20px;
}

.popUpCon3 .degree .degree_level.level li,
.popUpCon3 .degree .level.degree_level li img {
	display: inline !important;
}

.popUpCon3 .degree .degree_level.level li.fontGrey2 {
	vertical-align: middle;
	margin-right: 10px;
}

.popUpCon3 .degree .degree_level.level li img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.popUpCon3_btn {
	text-align: right;
	margin-bottom: 20px;
	margin-right: 20px;
	position: absolute;
	bottom: 10px;
	right: 0;
}

.popUpCon3_btn a {
	padding: 5px 10px;
	border-radius: 15px;
	margin: 0 5px;
}

.start_popUp_link>s {
	color: white;
}

.degree_level {
	padding: 5px 0 10px 0;
}


/*取消收藏弹窗*/

.cancelCollect_popUp .popUpCon4 {
	top: 50%;
	/*right: 0;*/
	/*bottom: 0;*/
	left: 50%;
	margin-left: -130px;
	margin-top: -70px;
	z-index: 5;
	position: fixed;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	/*display: none;*/
	width: 260px;
	height: 140px;
	border-radius: 4px;
	background: #fff;
	text-align: left;
}


/*测评结果页面样式*/

.curriculum_nav.evaluetion_nav {
	background: none;
}

.evaluation_link {
	width: 1000px;
	margin: 0 auto;
	padding: 14px 0 0 0px;
	color: white;
	text-align: left;
	margin-bottom: 30px;
	font-size: 12px;
}

.evaluation_link span a {
	color: white;
}

#to-question .evaluation_link {
	padding-bottom: 6px;
}

.evaluation_success img,
.evaluation_failure img {
	width: 1000px;
	height: 223px;
}

.evaluation_accuracy {
	position: absolute;
	top: 34px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	color: #fc5419;
	font-weight: bold;
}

.evaluation_accuracy .accuracy_number {
	font-size: 40px;
}

.evaluation_result {
	position: absolute;
	left: 0;
	right: 0;
	top: 180px;
	margin: 0 auto;
	color: white;
}

.evaluationCon_title {
	padding: 5px;
	border-radius: 5px;
	background-color: #efefef;
	text-align: center;
	width: 100px;
	margin: 30px auto;
}

.evaluationCon_link {
	text-align: center;
	margin: 50px;
	font-size: 14px;
}

.evaluationCon_link .evaluationCon_link1 {
	color: white;
	background-color: #56BE47;
	border: 1px solid #39a629;
	padding: 5px 10px;
	border-radius: 15px;
}

.evaluationCon_link .evaluationCon_link2 {
	color: #56BE47;
	border: 1px solid #39a629;
	padding: 5px 10px;
	border-radius: 15px;
}


/*6做题页面样式*/

section.read_nav.evalueting_nav {
	padding-top: 0;
}

.evaluating .tit_pic_eva {
	top: -32px;
	right: 0;
	bottom: auto;
	left: 0;
	z-index: 2;
	position: absolute;
	margin: 0 auto;
}

.evaluating .evaluatingCon_title {
	color: #56BE47;
	font-size: 30px;
	float: left;
	margin: -10px 10px 0 0;
	font-weight: bold;
}

img.tit_pic1 {
	display: inline;
	float: left;
	margin: 0 18px;
}

span.tit_pic2 {
	float: left;
	margin-left: -52px;
	margin-top: 8px;
	color: white;
	font-size: 24px;
}

span.tit_pic2.tit_pic3 {
	margin-left: -58px;
}

span.tit_pic2.tit_pic4 {
	margin-top: 0px;
}

.evaluatingCon {
	padding: 40px 30px;
	height: 500px;
	overflow-y: auto;
	margin: 10px 6px 10px 0;
}

.evaluatingCon::-webkit-scrollbar {
	width: 6px;
	border: 1px solid #cd9306;
	border-radius: 10px;
}

.evaluatingCon::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dbad3d;
	border: 1px solid #bfa01c;
}

.evaluatingCon::-webkit-scrollbar-track {
	background-color: #ece5c6;
	border: 0px solid white;
}

.evaluatingCon_txt {
	text-align: left;
	overflow: hidden;
	line-height: 26px;
	margin-bottom: 30px;
}

.evaluatingCon_img {
	padding: 10px 0 10px 30px;
	text-align: left;
}

.evaluatingCon_list {
	padding: 10px;
	cursor: pointer;
	text-align: left;
	border-radius: 5px;
	color: #666666;
	border: 1px solid white;
}

.evaluatingCon_list:hover {
	background-color: #f4f4f4;
}

.evaluatingCon_lists {
	padding-left: 30px;
}

.evaluatingCon_list_active {
	padding: 10px;
	cursor: pointer;
	text-align: left;
	border-radius: 5px;
	color: #666666;
	background-color: #c0f4c3;
	border: 1px solid #5dd162;
}

.evaluatingCon_img img {
	display: inline;
	width: 52px;
	height: 52px;
}

.tit_pic_eva1 img {
	position: absolute;
	bottom: -50px;
	cursor: pointer;
}

.tit_pic_eva1 img.zuoti_left {
	left: 240px;
}

.tit_pic_eva1 img.zuoti_right {
	right: 240px;
}


/*做题页面--退出--弹窗*/

.pushOut_popUp {
	display: none;
}

.pushOut_popUp .popUpCon1,
.popSubmit_popUp .popUpCon1 {
	width: 300px;
	height: 160px;
	border-radius: 10px;
}

.pushOut_popUp .popUpCon1 p,
.popSubmit_popUp .popUpCon1 p {
	margin-top: 20px;
}

.pushOut_popUp .popUpCon1 a.deleteCancel,
.popSubmit_popUp .popUpCon1 a.deleteCancel {
	margin: 0 0 0 85px;
	padding: 5px 10px;
}

.pushOut_popUp .popUpCon1 a.deleteConfirm,
.popSubmit_popUp .popUpCon1 a.deleteConfirm {
	margin: 0 10px 0 10px;
	border: 1px solid #39A629;
	right: 0;
}


/*做题页面--提交--弹窗*/

.popSubmit_popUp {
	display: none;
}


/*测评--页面*/

.ceping_nav.read_nav .default_nav .ew_tab {
	width: 100%;
}

.ceping_nav.read_nav .default_nav .ew_tab .tab-c {
	display: block;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul li a p {
	margin: 5px 0;
	width: initial;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inherit;
	width: 120px;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul li a p.list_book_name {
	height: 20px;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul li a p.passed {
	color: #56be47;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul li a p.nopart {
	color: #1b80f1;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul li a p.nopass {
	color: #fd6951;
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul li a .list_book_star img {
	display: inline;
	width: 15px;
	height: 15px;
}

.read_nav .default_nav .ew_tab .tab-c .courseDefault .list_book {
	margin: 20px 0;
}

.read_nav .default_nav .ew_tab .tab-c .ceping_list_book.list_book ul li a {
	text-align: left;
	padding-left: 35px;
	width: 82%;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul li {}


/*暂无测评结果--页面*/

.noCeping i.icon-empty-test {
	font-size: 150px;
	color: #cccccc;
}

.noCeping {
	padding: 50px 0;
}


/*测评页面--弹窗*/

.passed_popUp {
	display: none;
}

.passed_popUp .popUpCon3 p.fontGreen {
	margin: 10px 0 0 20px;
}

.passed_popUp .popUpCon3 .popUpCon3_btn {
	margin-top: 30px;
}

.passed_popUp .popUpCon3 .popUpCon3_btn a {
	margin: 0 10px;
}

.start_popUp .popTitle {
	font-size: 16px;
	width: 95%;
}

.start_popUp .popUpCon3_btn .greenBg {
	border: 1px solid #39a629;
}

.start_popUp .popUpCon3_btn .greenBg:hover {
	background-color: #27a215;
}

.cepingInfo {
	display: none;
}


/*弹窗--计划完成时间*/

input#dt.planTo_date1 {
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 200px;
	line-height: 30px;
	padding: 0 10px;
	height: 30px;
}

#dd.planTo_date2 {
	top: 101px !important;
	left: 20px !important;
}

.read_nav .default_nav .ew_tab .tab-c .group_book.group_book1 dl {
	height: auto;
}

.read_nav .default_nav .ew_tab .tab-c .group_book.group_book1 dl dd {
	width: 93%;
}


/*5-2阅读任务-完成情况 */

section.curriculum_nav.finishInfo_nav {
	background: none;
}

.finishIfo_link {
	text-align: left;
	padding: 16px 0 0 17px;
	color: #8C8C8C;
}

p.finishIfo_title {
	font-weight: bold;
}

p.finishIfo_deadline {
	margin: 10px 0;
}


/*表格*/

.finishIfo_tableCon tr.finishIfo_tableCon_head {
	background-color: #edf7ea;
	height: 31px;
}

.finishIfo_tableCon tr.finishIfo_tableCon_head th {
	font-weight: normal;
	height: 30px;
	border-top: 1px solid #cdd6cb;
	border-bottom: 1px solid #c0c0c0;
	cursor: auto;
}

.finishIfo_tableCon tr {
	border-bottom: 1px solid #dddddd;
	height: 40px;
	text-align: left;
	cursor: pointer;
}

.finishIfo_tableCon tr:not(:first-child):hover {
	background-color: #f8f8f8;
}

.finishIfo_tableCon tr td {
	padding-left: 20px;
}

table.finishIfo_tableCon.fontGrey2 {
	width: 96%;
	margin: 20px;
}

.finishIfo_tableCon tr.finishIfo_tableCon_head th.finishIfo_th1 {
	padding-left: 20px;
}

.finishIfo_tableCon tr.finishIfo_tableCon_head th span {
	padding-right: 10px;
	color: #ddd;
}

.finishIfo_tableCon .finishIfo_range {
	font-weight: bold;
}

.finishIfo_tableCon .finishIfo_range.finishIfo_range1 {
	color: #fb531f;
}

.finishIfo_tableCon .finishIfo_range.finishIfo_range2 {
	color: #fcb724;
}

.finishIfo_tableCon .finishIfo_stuRange1 {
	position: absolute;
	margin-left: 5px;
	margin-top: -7px;
	width: 15px;
	height: 10px;
}

.finishIfo_tableCon .finishIfo_stuImg {
	border-radius: 50%;
	display: inline;
	vertical-align: middle;
	width: 26px;
	height: 26px;
}

.finishIfo_table table tr td.fontGreen span,
.finishIfo_table table tr td span a,
.finishIfo_table table tr td.fontGreen a {
	margin: 0 10px;
	cursor: pointer;
}

.finishIfo_table table tr td.fontGreen span:hover,
.finishIfo_table table tr td span a:hover,
.finishIfo_table table tr td a:hover {
	font-weight: bold;
	text-decoration: underline;
}


/*分页*/

div.scott.finishIfo_table_page span.current {
	border-color: #56be47;
	color: #fff;
	background: #56be47;
}

div.scott.finishIfo_table_page a,
div.scott.finishIfo_table_page span {
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	border-color: #fff;
	font-size: .75rem;
	padding: 0;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	color: #666;
	background: #fff;
}

div.scott.finishIfo_table_page .disabled,
div.scott.finishIfo_table_page .arrow {
	color: #ccc;
	border-color: #ccc;
}


/*9查看答案*/

.zuoti_tip {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	color: #333;
	line-height: 26px;
	background-color: #f8f8f8;
	margin: 20px 0px 0 30px;
}

.zuoti_tip .zuoti_tip_title span {
	font-weight: bold;
}

.zuoti_tip .zuoti_tip_title span.fontGreen {
	margin-right: 20px;
}

.fontBold {
	font-weight: bold;
}

.zuoti_tip s {
	top: -41px;
	left: 40px;
	position: relative;
	width: 0;
	height: 0;
	border-right: 6px solid transparent;
	border-bottom: 7px solid rgb(242, 242, 242);
	border-left: 7px solid transparent;
}


/*3-老师-课程--样式*/

.courseNewest {
	display: none;
}

.courseType {
	text-align: left;
	margin: 11px 17px;
}

.courseType ul {
	background-color: #f0f0f0;
	width: 110px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	border-radius: 12px;
}

.courseType ul li {
	display: inline;
	vertical-align: top;
	height: 24px;
	line-height: 24px;
	padding: 2px 12px;
	margin: 11px 0px;
	color: #666;
	cursor: pointer;
	font-size: 14px;
}


/*.courseType ul li:hover,*/

.courseType ul li.current {
	color: #fff;
	background: #56be47;
}

.courseType ul li.courseDefault1:hover,
.courseType ul li.current.courseDefault1 {
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.courseType ul li.courseNewest1:hover,
.courseType ul li.current.courseNewest1 {
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul.courseUl li a img {
	width: 230px;
	height: 137px;
	box-shadow: 0px 0px 1px #ddd !important;
}

.courseLiP:hover {
	color: #56BE47;
}

.read_nav .default_nav .ew_tab .tab-c .ceping_list_book.list_book ul.courseUl li a {
	height: 94% !important;
	padding-left: 0;
	padding-top: 0px;
	padding-bottom: 10px;
	width: auto;
	margin: 5px 0;
}

.read_nav .default_nav .ew_tab .tab-c .ceping_list_book.list_book ul.courseUl li a:hover {
	background-color: white;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul.courseUl li {
	width: 230px;
	height: 186px;
	margin: 5px 3px 5px 14px;
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul.courseUl.courseUl1 {
	width: 1000px;
}

.read_nav .default_nav .ew_tab .tab-c .list_book.ceping_list_book ul.courseUl li a p {
	width: 230px;
	line-height: 40px;
}


/*4-4老师-活动 */

.activity_lists .activity_list {
	text-align: left;
	padding: 20px 20px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-radius: 12px;
	cursor: pointer;
}

.activity_lists .activity_list:hover {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.activity_lists .activity_list:hover .activityTitle .fontBold {
	color: #56BE47;
}

.activity_lists .activity_list .activity_list_img img {
	width: 100%;
	height: 100%;
}

.activity_lists .activity_info span i {
	font-style: normal;
}

.activity_lists .activity_info span {
	margin-right: 10px;
	font-size: 14px;
	line-height: 35px;
}


/*修改首页*/

.book_nav.readSystem_nav .default_nav .ew_tab .tab-c>ul li a p,
.columns_nav.readSystem_nav .default_nav .ew_tab .tab-c>ul li a p,
.curriculum_nav.readSystem_nav .default_nav .ew_tab .tab-c>ul li a p,
.periodical_nav.readSystem_nav .default_nav .ew_tab .tab-c>ul li a p,
.individuality_nav.readSystem_nav .device .swiper-individuality .swiper-slide ul li a p {
	height: 38px;
	overflow: hidden;
}


/*修改2阅读*/

.read_nav.read_nav2 .default_nav .ew_tab .tab-c .list_book ul li a p {
	height: 38px;
	overflow: hidden;
}


/*14我的读后感*/

.myRead_lists.font14 {
	margin-bottom: 10px;
}

.myRead_1 {
	text-align: left;
	padding: 20px 0 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #8C8C8C;
}

.myRead_nav .myRead_list {
	text-align: left;
	line-height: 22px;
	/* cursor: pointer; */
}

.myRead_nav .myRead_list.teacherRead_list {
	border-bottom: 1px solid #ddd;
}

.myRead_nav .myRead_list:hover {
	background-color: #f8f8f8;
}

.myRead_nav .myRead_list:hover .bookItro_read_list_right {
	opacity: 1;
}

p.myRead_list_title {
	font-size: 16px;
	line-height: 34px;
}

.myRead_nav .myRead_list img {
	float: left;
}

.myRead_nav .myRead_list>img {
	width: 100px;
	height: 140px;
	margin: 10px 20px;
}

.myRead_list_text {
	width: 830px;
	float: right;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 20px;
	min-height: 139px;
}

.myRead_list_text.myRead_list_text1 {
	border-bottom: 1px solid #ddd;
}

.myRead_nav .myRead_list .activeLove {
	float: right;
	color: #ccc;
	cursor: pointer;
}

.myRead_nav .myRead_list .activeLove span {
	color: #989898;
}

.myRead_nav .myRead_list .activeLove span.activeGreen {
	color: #56be47;
}

.myRead_nav .myRead_list span.addYou {
	float: right;
	padding: 1px 5px;
	;
	border-radius: 5px;
	background-color: #ddd;
	margin-right: 10px;
	color: white;
	cursor: pointer;
}

.myRead_nav .myRead_list span.addYou.activeRed {
	background-color: #fd6951;
}

.myRead_nav .myRead_list .fontGrey i {
	font-style: normal;
}

.myRead_nav .myRead_list .myRead_list_red {
	background-color: #faeded;
	padding: 5px;
	margin-top: 20px;
}

.myRead_nav .myRead_list .myRead_list_red img {
	width: 61px;
	height: 61px;
	margin-right: 10px;
}

.myRead_nav .myRead_list .myRead_list_red .youxiu {
	font-size: 16px;
	margin-bottom: -15px;
}

.myRead_list_red p {
	margin-bottom: 10px;
	position: relative;
	top: -17px;
}

.myRead_list_red s {
	top: -31px;
	left: -57px;
	position: relative;
	width: 0;
	height: 0;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #faeded;
	border-left: 7px solid transparent;
}

.myRead_nav .noRead.myRead_noread {
	display: none;
}

.myRead_list_text .bookItro_read_list_txt .bookItro_read_shenglue {
	height: 65px;
}


/*6-1老师-读后感.html*/

.starRange_table_select {
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	margin: 0 10px;
	font-weight: initial;
	cursor: pointer;
}

.myRead_1 .starRange_table_select_option {
	display: none;
	background-color: white;
	width: 111px;
	position: absolute;
	left: 77px;
	margin: 0 auto;
	top: 70px;
	-webkit-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
	-moz-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
	box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	line-height: 30px;
}

.myRead_1 .starRange_table_select_option li {
	cursor: pointer;
	text-align: center;
}

.myRead_lists.teacherRead_lists.font14 {
	margin: 0 20px 10px 20px;
}

.myRead_1.teacherRead_1 {
	margin: 0px 20px 0 20px;
	padding: 20px 0 10px 0;
}

.teacherRead_list .bookItro_read_list_left img.bookItro_read_list_avatar {
	margin: 0 10px;
	box-shadow: 0px 0px 0px 2px #ddd;
}

.teacherRead_list .bookItro_read_list_left {
	margin-top: 25px;
	width: 76px;
}

.teacherRead_list .bookItro_read_list_right {
	cursor: pointer;
}

.teacherRead_list .bookItro_read_list_right:hover {
	color: #56BE47;
}

.teacherRead_list .bookItro_read_list_right i {
	margin: 0;
}

.teacherRead_pop .popUpCon div.popUpCon_btn a {
	margin: 15px 40px;
	left: auto;
	padding: 5px 15px;
	width: auto;
}

.teacherRead_pop_check {
	position: absolute;
	right: 120px;
	bottom: 20px;
}

.teacherRead_pop .popUpCon_txt {
	min-height: 260px;
	resize: none;
}


/*4-5老师-小组.html*/

.tGroup_school {
	min-height: 200px;
}

.tGroup_title {
	position: absolute;
	top: 17px;
	left: 20px;
}

.read_nav .default_nav .tGroup_school .ew_tab>ul {
	text-align: right;
	margin-bottom: 20px;
}

.read_nav .default_nav .tGroup_school .ew_tab>ul .tab-i {
	background-color: white;
	border-bottom: 0;
	border-radius: 20px;
	width: 48px;
	height: 24px;
	line-height: 24px;
	margin: 0 10px;
}

.read_nav .default_nav .tGroup_school .ew_tab>ul .tab-cur {
	color: white;
	background-color: #56BE47;
}

.read_nav .default_nav .tGroup_school .ew_tab .tab-c {
	padding: 0 20px;
	min-height: auto;
}

.read_nav .default_nav .tGroup_school .ew_tab .tab-c .list_book .no_results {
	top: 23%;
}

.read_nav .default_nav .tGroup_school .ew_tab .tab-c .list_book {
	min-height: auto;
}

.tGroup_list {
	padding: 12px;
	border: 1px solid #ddd;
	margin: 0 20px 20px 0;
	width: 204px;
	float: left;
	cursor: pointer;
	text-align: left;
	font-size: 14px;
	border-radius: 2px;
}

.tGroup_list:hover {
	background-color: #F8F8F8;
}

.tGroup_list img {
	width: 58px;
	height: 58px;
	float: left;
	margin-right: 20px;
}

.tGroup_list p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
}

.tGroup_list p.fontGrey {
	color: #8C8C8C;
}

.tGroup_list p:last-child {
	margin-top: 20px;
}

.tGroup_title1 {
	position: absolute;
	width: 96%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	text-align: left;
	padding-top: 20px;
}

.tGroup_pages.scott {
	display: block;
}

.tGroup_intro {
	padding: 0 20px;
}

.tGroup_intro .tGroup_lists {
	padding-top: 80px;
}

.read_nav .default_nav .tGroup_intro div.scott {
	color: #56be47;
}

.read_nav .default_nav .tGroup_intro div.scott a,
.read_nav .default_nav .tGroup_intro div.scott span {
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	border-color: #fff;
	font-size: .75rem;
	padding: 0;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	color: #666;
	background: #fff;
}

.read_nav .default_nav .tGroup_intro div.scott .arrow,
.read_nav .default_nav .tGroup_intro div.scott .disabled {
	color: #ccc;
	border-color: #ccc;
}

.read_nav .default_nav .tGroup_intro div.scott span.current {
	border-color: #56be47;
	color: #fff;
	background: #56be47;
}

.read_nav .default_nav .tGroup_school .ew_tab .tab-c .list_book .no_results i {
	font-size: 100px;
}


/*12-1我的书架-最近浏览*/

.myShelf_nav .myShelf_title {
	text-align: left;
	margin: 20px;
}

.myShelf_title1 {
	text-align: left;
	width: 98%;
	border-bottom: 1px solid #ddd;
}

.myShelf_title1 p {
	border-bottom: 4px solid #56BE47;
	width: 90px;
	padding-bottom: 10px;
	text-align: center;
}

.myShelf_lists {
	margin-bottom: 20px;
}

.myShelf_list_left {
	float: left;
	border-left: 1px solid #ddd;
	line-height: 190px;
}

.myShelf_list_left s {
	position: relative;
	top: 3px;
	left: -8px;
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: lighter;
	color: #ddd;
	cursor: pointer;
}

.myShelf_list_left s span {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #ddd;
}

.myShelf_list {
	height: 192px;
	padding-left: 20px;
	cursor: pointer;
}

.myShelf_list:hover {
	background-color: #f8f8f8;
}

.myShelf_list:hover .myShelf_list_left {
	color: #56BE47;
}

.myShelf_list:hover .myShelf_list_left s span {
	border: 1px solid #56BE47;
}

.myShelf_list img {
	width: 112px;
	height: 150px;
	margin: 20px;
	float: left;
	margin-left: 60px;
}

.myShelf_list_center span i {
	font-style: normal;
}

.myShelf_list_right {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

.myShelf_list_right a {
	display: block;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 10px 0;
	font-size: 14px;
	border: 1px solid #39A629;
}

.myShelf_list_right a:hover {
	background-color: #56be47;
	color: #fff !important;
}

.myShelf_list_center {
	text-align: left;
	line-height: 30px;
	padding-top: 20px;
	width: 800px;
}

.myShelf_list_center_title {
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.myShelf_list_center_rate {
	margin-top: 20px;
}


/*测试--空页面*/

.read_nav2 a#noREAD,
.read_nav2 a#hasREAD {
	position: absolute;
	top: -10px;
	font-size: 20px;
}

.read_nav2 a#hasREAD {
	margin-left: 300px;
}

.icon-empty-browse {
	font-size: 140px;
	margin-top: 100px;
}


/*13-1我的任务*/

.read_nav.myTask_nav .default_nav .ew_tab>ul {
	margin: 0;
	width: 1000px;
	font-size: 0;
}

.myTask_tip1 {
	width: 100%;
	background-color: #fbefed;
	padding: 10px 0;
	color: #fd6951;
}

.myTask_tip1 .myTask_tip {
	width: 1000px;
	margin: 0 auto;
	font-size: 14px;
	text-align: left;
}

.myTask_tip1 .myTask_tip a {
	float: right;
	color: #fda799;
}

.myTask_tip i {
	float: left;
	margin-top: 1px;
	color: white;
	background-color: #fd6951;
	border-radius: 50%;
	padding: 1px;
	margin-right: 5px;
	line-height: 14px;
}

.myTask_tip p {
	width: 800px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.myTask_nav_title {
	text-align: left;
	padding: 20px;
	font-weight: bold;
}

.myTask_list_must {
	position: absolute;
}

.myTask_list p i {
	font-style: normal;
}

.myTask_list_type {
	color: #fd6951;
}

ul.myTask_lists {
	margin: 20px 0;
}

li.myTask_list {
	float: left;
	text-align: left;
	line-height: 24px;
	width: 169px;
	height: 280px;
	padding-left: 31px;
	padding-top: 20px;
	cursor: pointer;
}

li.myTask_list:hover {
	background-color: #F8F8F8;
}

li.myTask_list p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
}

li.myTask_list img.myTask_list_bookImg {
	width: 138px;
	height: 184px;
}

.read_nav.myTask_nav .default_nav .ew_tab>ul .tab-i {
	background-color: white;
	color: black;
	border-bottom: 0;
	font-size: 14px;
}

.read_nav.myTask_nav .default_nav .ew_tab>ul .tab-cur {
	color: black;
	border-bottom: 3px solid #56BE47;
	background-color: white;
}

.myTask_pages.scott {
	display: inline-block;
	margin-top: 20px;
}

.read_nav.myTask_nav .default_nav .ew_tab .tab-c {
	min-height: auto;
}

.icon-empty-task {
	font-size: 120px;
	margin-top: 50px;
}

img.myTask_tuijian {
	position: relative;
	top: -40px;
	left: 80px;
}


/*我的任务--弹窗*/

.popTask_list {
	line-height: 24px;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.popTask_lists1 {
	margin-right: 0;
}

.popTaskCon {
	/*overflow-y: scroll;*/
	overflow-y: auto;
}

.popTaskCon::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.popTaskCon::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #c8c8c8;
}

.popTaskCon::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f2f2f2;
}

.popTaskCon .popUpCon_title {
	position: fixed;
	width: 600px;
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.popTask_lists {
	margin-top: 60px;
}

.myTask_nav .myRead_noread3 .greenBg {
	padding: 5px 15px;
	border-radius: 15px;
	line-height: 90px;
}


/*5-1老师-任务*/

.teacherTask_nav {
	text-align: left;
	padding: 20px 0 0 20px;
}

.teacherTask_nav .starRange_table_select_option {
	display: none;
	background-color: white;
	/*width: 120px;*/
	position: absolute;
	left: 100px;
	margin: 0 auto;
	top: 49px;
	-webkit-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
	-moz-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
	box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	line-height: 30px;
	text-align: center;
	z-index: 1;
	padding: 5px 20px;
}

.teacherTask_nav .starRange_table_select_option li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.teacherTask_nav .starRange_table_select_option li:hover {
	background-color: #F8F8F8;
	color: #56BE47;
}

.teacherTask_nav span.myTask_nav_title {
	padding: 0;
}

.read_nav.myTask_nav.teacherTask_nav1 .default_nav .ew_tab>ul {
	width: 960px;
}

.read_nav.myTask_nav.teacherTask_nav1 .default_nav .ew_tab>ul li i {
	margin-left: 15px;
}

.teacherTask_right {
	float: right;
	margin-top: 15px;
}

.teacherTask_right input {
	margin-top: -3px;
}


/*5-1老师-任务-弹窗*/

.teacherPop_state {
	padding: 10px 0 0px 20px;
}

.popUpCon3 .degree.teacherTask_degree {
	padding-bottom: 37px;
}


/*.read_nav.myTask_nav .default_nav .ew_tab>ul .tab-i.teacherTask_tab{
	text-align: left;
}
.read_nav.myTask_nav .default_nav .ew_tab>ul .tab-i.teacherTask_tab i{
	margin-left:10px ;
}*/

.read_nav .default_nav .ew_tab>ul .tab-i.width80 {
	width: 70px;
}


/*4-1老师-测评*/

.teacherCeping li i.icon-introduce {
	color: #51a1fa;
}

.teacherCeping li i.icon-check-square {
	color: #56BE47;
}


/*弹窗*/

.passed_popUp.teacherCeping_popUp .popUpCon3 {
	min-height: 290px;
}

.teacherPop_state.teacherCepingPop_state {
	padding: 0 0 10px 0;
}

.passed_popUp .popUpCon3 .teacherCeping_btn.popUpCon3_btn {
	margin-top: 10px;
}


/**  阅读搜索*/

.searchHas_lists .list_book {
	min-height: 500px;
	height: auto !important;
	height: 500px;
	margin: 20px 17px;
}

.searchHas_lists .list_book ul {
	display: inline-block;
	vertical-align: top;
	width: 966px;
	font-size: 0;
	text-align: left;
}

.searchHas_lists .list_book ul li {
	display: inline-block;
	vertical-align: top;
	width: 193.2px;
	height: 265px;
	text-align: center;
	font-size: .875rem;
}

.searchHas_lists .list_book ul li a {
	display: block;
	width: 100%;
	height: 245px;
	padding-top: 20px;
	color: #343434;
}

.searchHas_lists .list_book ul li a:hover {
	background: #f7f7f7;
}

.searchHas_lists .list_book ul li a img {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 163px;
}

.searchHas_lists .list_book ul li a p {
	vertical-align: top;
	margin: 20px auto;
	width: 120px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: 38px;
}


/*分页*/

.searchHas_lists div.scott {
	color: #56be47;
}

.searchHas_lists div.scott .arrow,
.searchHas_lists div.scott .disabled {
	color: #ccc;
	border-color: #ccc;
}

.searchHas_lists div.scott a,
.searchHas_lists div.scott span {
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	border-color: #fff;
	font-size: .75rem;
	padding: 0;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	color: #666;
	background: #fff;
}

.searchHas_lists div.scott span.current {
	border-color: #56be47;
	color: #fff;
	background: #56be47;
}

.bookItro_read_list_txt div p {
	word-wrap: break-word;
}


/*加载中*/

.loading {
	width: 25%;
	margin: 0 auto;
	margin-top: 25%;
}

i.icon-star {
	color: #ffbc04;
}

.read_nav.myTask_nav .default_nav .ew_tab>ul .tab-i p {
	border-right: 2px solid #ddd;
	margin-top: 16px;
	height: 20px;
	line-height: 16px;
}

.font12 {
	font-size: 12px;
}

.read_nav .default_nav .ew_tab .tab-c div.scott.cepingScott1 {
	position: absolute;
	bottom: 0px;
	margin: 20px 0;
}

.read_nav .default_nav.ceping_default_nav1 {
	min-height: 1237px;
}

.bookIntr_link {
	color: #8C8C8C;
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul li a img.myTask_list_must {
	width: 55px;
	height: 55px;
	margin-left: -2px;
	margin-top: -6px;
	box-shadow: none;
}

.bookIntro_right_recommend_img {
	margin-top: 20px;
	width: 210px;
	height: 150px;
	cursor: pointer;
}

.bookIntro_right_recommend_img img {
	width: 110px;
	height: 146px;
	float: left;
	margin-right: 15px;
}

.bookIntro_right_recommend_img p {
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
	padding-top: 10px;
	height: 48px;
	margin-bottom: 20px;
}

.bookIntro_right_recommend_img a {
	padding: 3px 6px;
	border-radius: 12px;
	color: white;
}

.bookIntro_right_recommend_you {
	background-color: #56BE47;
}

.bookIntro_right_recommend_ce {
	background-color: #55aafa;
}

.student {
	float: right;
	padding: 1px 5px;
	;
	border-radius: 5px;
	background-color: #ddd;
	margin-right: 10px;
	color: white;
}

.student {
	background-color: #fd6951;
}


/* 
后面追加 */

.read_nav .default_nav .ew_tab .tab-c .list_book ul li a img,
.myShelf_list img,
li.myTask_list img.myTask_list_bookImg,
.bookIntro_detail .detail_img img,
.bookIntro_right_recommend_img img,
.searchHas_lists .list_book ul li a img {
	box-shadow: 0px 0px 1px #e7e7e7, 2px -2px 0 2px #fff, 4px -2px 15px 4px rgba(221, 221, 221, 0.49);
}

.bookIntro_detail .detail_img img.detailImg_qrbig {
	box-shadow: 1px 0px 10px 2px #e0e0da;
}

.individuality_nav .device .swiper-individuality .swiper-slide ul li a p {
	margin-top: 17px !important;
}

a#sign2 {
	color: #817474;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	font-size: 12px;
	margin: 10px 10px;
}

.alter_win>dl>dd textarea,
.new_win>dl>dd textarea {
	color: #666 !important;
}

.alter_win>dl>dd .answer input[type="text"],
.new_win>dl>dd .answer input[type="text"] {
	color: #666 !important;
}

.curriculum_nav.bookIntro_nav {
	padding-top: 50px;
}

.detail_txt_grey span {
	margin: 0 10px 0 0;
}

a#buttonRead:hover {
	background-color: #27a215;
}

a#mission:hover {
	background-color: #56be47;
	color: white;
}

a#evaluate:hover {
	background-color: #56be47;
	color: white;
}

i.icon-money.fontGrey {
	color: #cccccc;
}

span.bookItro_read_title_write:hover {
	color: #27a215;
}

.noRead_popUp div:nth-of-type(2),
.hasRead_popUp div:nth-of-type(2),
.planTo_popUp div:nth-of-type(2),
.start_popUp div:nth-of-type(2),
.cancelCollect_popUp div:nth-of-type(2),
.deleteRead_popUp div:nth-of-type(2) {
	border-radius: 10px;
}

a.deleteCancel {
	background-color: #fafafa;
	margin-left: 56px;
	margin-right: 0px;
	border: 1px solid #e6e6e6;
	position: absolute;
	right: 110px;
}

.banner_nav .device .swiper-banner {
	cursor: pointer !important;
}

i.icon-edit:hover {
	color: #56be47;
}

.bookIntro_right_recommend_img p {
	height: 20px;
}

.task_nav .default_nav .crumb a {
	color: #8C8C8C;
}

.task_nav .default_nav .crumb {
	color: #8C8C8C;
}

.bookIntro_right_pass_list a {
	color: black;
}

.fontBlack {
	color: black;
}

p.finishIfo_title {
	color: #56BE47;
}

.popSubmit_popUp#pop-question .popUpCon1#popContent_1 a.deleteCancel {
	margin: 0 35px 0 50px;
	right: 74px;
}

.bookIntro_detail img.detailImg_qrsmall {
	box-shadow: none;
}

.curriculum_nav.evaluetion_nav {
	padding-top: 0px;
}

p.activityTitle .fontBold {
	color: #333;
}

a#missionSubmit {
	right: 10px;
}

a.deleteConfirm.greenBg {
	right: 0;
}

.noRead_popUp div.popUpCon_title2 {
	border-radius: 0;
}

.tit_pic_list {
	cursor: pointer;
}

section#to-question.read_nav.evalueting_nav .default_nav {
	min-height: 500px;
}

.popUpCon div.popUpCon_btn a:hover {
	background-color: #27a215;
}

a.deleteCancel:hover {
	background-color: #f2f2f2;
}

a.deleteConfirm.greenBg:hover {
	background-color: #27a215;
}

.popUpCon3_btn a.greenBorder:hover {
	background-color: #56be47;
	color: #fff !important;
}

.popUpCon3_btn a.greenBg:hover {
	background-color: #27a215;
}