@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tlmoc');
  src:  url('../fonts/icomoon.eot?tlmoc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg?tlmoc#icomoon') format('svg'),
    url('../fonts/icomoon.ttf?tlmoc') format('truetype'),
    url('../fonts/icomoon.woff?tlmoc') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty-browse:before {
  content: "\e924";
}
.icon-empty-convert:before {
  content: "\e925";
}
.icon-empty-course:before {
  content: "\e926";
}
.icon-empty-read:before {
  content: "\e927";
}
.icon-empty-search:before {
  content: "\e928";
}
.icon-empty-task:before {
  content: "\e929";
}
.icon-empty-test:before {
  content: "\e92a";
}
.icon-empty-thoughts:before {
  content: "\e92b";
}
.icon-leave:before {
  content: "\e930";
}
.icon-money:before {
  content: "\e92f";
}
.icon-gotop:before {
  content: "\e92c";
}
.icon-report:before {
  content: "\e92d";
}
.icon-task:before {
  content: "\e92e";
}
.icon-angle-double-right:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-books:before {
  content: "\e902";
}
.icon-champion:before {
  content: "\e903";
}
.icon-check-square:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-computer:before {
  content: "\e909";
}
.icon-delete:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-exclamation:before {
  content: "\e90c";
}
.icon-feedback:before {
  content: "\e90d";
}
.icon-good:before {
  content: "\e90e";
}
.icon-head:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e910";
}
.icon-introduce:before {
  content: "\e911";
}
.icon-mobile:before {
  content: "\e912";
}
.icon-notice:before {
  content: "\e913";
}
.icon-organization:before {
  content: "\e914";
}
.icon-password:before {
  content: "\e915";
}
.icon-pencil:before {
  content: "\e916";
}
.icon-play:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-qrcode:before {
  content: "\e919";
}
.icon-read:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e91b";
}
.icon-shop:before {
  content: "\e91c";
}
.icon-sign-check:before {
  content: "\e91d";
}
.icon-sign:before {
  content: "\e91e";
}
.icon-space:before {
  content: "\e91f";
}
.icon-star:before {
  content: "\e920";
}
.icon-thumbs-up:before {
  content: "\e921";
}
.icon-upload:before {
  content: "\e922";
}
.icon-user:before {
  content: "\e923";
}
