blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  display: block;
  border: 0 !important
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal
}

li {
  list-style: none
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

q:after,
q:before {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle
}

legend {
  color: #000
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none
}

a.border_link {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 0.875rem;
  border: solid 1px #56be47;
  color: #56be47;
  background: #fff;
  border-radius: 15px;
  cursor: pointer
}

a.border_link:hover {
  color: #fff;
  background: #56be47
}

a.border_link_f {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 0.875rem;
  color: #fff;
  background: #56be47;
  border: solid 1px #56be47;
  border-radius: 15px;
  cursor: pointer
}

a.border_link_f:hover {
  color: #56be47;
  background: #fff
}

div.scott {
  width: 94%;
  padding: 0 3%;
  margin: 0 0 20px;
  text-align: center
}

div.scott a {
  margin-right: 5px;
  padding: 2px 5px;
  text-decoration: none;
  color: #777;
  border: #bebebe 1px solid;
  background: #eaeaea
}

div.scott a:hover {
  color: #2ca9e1;
  border: #2ca9e1 1px solid;
  background: #fff
}

div.scott a:active {
  color: #2ca9e1;
  border: #2ca9e1 1px solid;
  background: #fff
}

div.scott span.current {
  font-weight: bold;
  margin-right: 5px;
  padding: 2px 5px;
  color: #2ca9e1;
  border: #2ca9e1 1px solid;
  background: #fff
}

div.scott span.disabled {
  margin-right: 5px;
  padding: 2px 5px;
  color: #999;
  border: #999 1px solid;
  cursor: pointer
}

div.scott i {
  display: block;
  width: 100%;
  font-size: 0.75rem;
  padding: 3px 0
}

div.scott span.disabled i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg)
}

ul.step {
  counter-reset: flag;
  clear: both;
  box-sizing: border-box;
  width: 76%;
  margin-top: 15px;
  padding-left: 0;
  margin: 0 auto;
  list-style: none;
  font-size: 1rem;
  text-align: center
}

ul.step li {
  position: relative;
  display: table-cell;
  float: none;
  width: 1%
}

ul.step li.active a:after,
ul.step li.active a:before {
  background: #67ce77
}

ul.step li.error a:after,
ul.step li.error a:before {
  background: #ccc
}

ul.step li:first-child a:after {
  left: 30%;
  border-radius: 5px 0 0 5px
}

ul.step li:last-child a:after {
  right: 30%;
  border-radius: 0 5px 5px 0
}

ul.step li a {
  cursor: pointer;
  line-height: 0;
  color: #56be47
}

ul.step li a:before {
  top: -3px;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 2;
  position: absolute;
  content: "";
  margin: 0 auto;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background: #ddd;
  color: #fff
}

ul.step li a:after {
  top: -70%;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 1;
  position: absolute;
  background: #56be47;
  height: 6px
}

.calendar {
  width: 280px;
  height: 330px
}

.calendar-modal {
  display: none;
  position: absolute;
  background: #fdfdfd;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 2px 3px #ddd
}

.calendar-inner {
  position: relative;
  z-index: 1;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d
}

.calendar-views {
  transform-style: preserve-3d
}

.calendar .view {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  *overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s
}

.calendar-d .view-month,
.calendar-m .view-date {
  transform: rotateY(180deg);
  visibility: hidden;
  z-index: 1
}

.calendar-d .view-date,
.calendar-m .view-month {
  transform: rotateY(0deg);
  visibility: visible;
  z-index: 2
}

.calendar-ct,
.calendar-hd,
.calendar-views .days,
.calendar-views .week {
  overflow: hidden
}

.calendar-views {
  width: 100%
}

.calendar .date-items li,
.calendar .view,
.calendar-arrow .prev,
.calendar-display {
  float: left
}

.calendar-arrow,
.calendar-arrow .next {
  float: right
}

.calendar-hd {
  padding: 10px 0;
  height: 30px;
  line-height: 30px
}

.calendar-display {
  font-size: 24px;
  text-indent: 10px
}

.view-month .calendar-hd {
  padding: 10px
}

.calendar-arrow,
.calendar-display {
  color: #ddd
}

.calendar li[disabled] {
  color: #bbb
}

.calendar li.new[disabled],
.calendar li.old[disabled] {
  color: #eee
}

.calendar-arrow span:hover,
.calendar-display .m,
.calendar-display:hover,
.calendar-views .days .new,
.calendar-views .days .old,
.calendar-views .week {
  color: #888
}

.calendar-arrow span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
  cursor: pointer
}

.calendar li[disabled] {
  cursor: not-allowed
}

.calendar-arrow {
  width: 50px;
  margin-right: 10px
}

.calendar-arrow span {
  font: 500 26px sans-serif
}

.calendar ol li {
  position: relative;
  float: left;
  text-align: center;
  border-radius: 50%
}

.calendar .days li,
.calendar .week li {
  width: 40px;
  height: 40px;
  line-height: 40px
}

.calendar .month-items li {
  width: 70px;
  height: 70px;
  line-height: 70px
}

.calendar .days li[data-calendar-day]:hover,
.calendar .view-month li[data-calendar-month]:hover {
  background: #eee
}

.calendar .calendar-views .now {
  color: #fff;
  background: #1c8921 !important
}

.calendar .calendar-views .selected {
  color: #1c8921;
  background: #CDE9D9 !important
}

.calendar .calendar-views .dot {
  position: absolute;
  left: 50%;
  bottom: 4px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  background: #1c8921;
  border-radius: 50%
}

.calendar-views .now .dot {
  background: #fff
}

.calendar .date-items {
  width: 300%;
  margin-left: -100%
}

.calendar-label {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 5px 10px;
  line-height: 22px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  opacity: 0.7;
  filter: alpha(opacity=70)
}

.calendar-label i {
  display: none;
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 0;
  height: 0;
  margin-left: -3px;
  border: 6px solid transparent;
  border-top-color: #000
}

header {
  width: 100%;
  height: 70px;
  border-bottom: solid 4px #ecf5f6;
  background: #fff;
  text-align: left
}

header img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 14px auto
}

header nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 0 15px
}

header nav li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 82px;
  height: 32px;
  line-height: 32px;
  margin: 19px auto
}

header nav li a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 75px;
  height: 32px;
  font-size: 1rem;
  color: #343434;
  text-align: center
}

header nav li a.current,
header nav li a:hover {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  /*background: #56be47;*/
  /*color: #fff*/
}

header div.search {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 210px;
  height: 30px;
  margin: 20px auto;
  border: solid 1px #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  position: relative
}

header div.search span.search_option {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  width: 54px;
  height: 30px;
  line-height: 30px;
  font-size: .75rem;
  color: #666;
  cursor: pointer;
  text-align: center
}

header div.search input[type='text'] {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 120px;
  height: 30px;
  border: none;
  font-size: .75rem;
  color: #ccc
}

header div.search input[type='button'] {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 3;
  position: absolute;
  border: none;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 30px;
  background: rgba(255, 255, 255, 0);
  outline: 0
}

header div.search i {
  top: 6px;
  right: 10px;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  color: #ccc
}

header div.search dl {
  -webkit-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -moz-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  top: 35px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 99990;
  position: absolute;
  display: none;
  width: 48px;
  border: solid 1px #ddd;
  background: #fff
}

header div.search dl dd {
  padding: 4px
}

header div.search dl dd a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  font-size: .75rem;
  color: #666;
  text-align: center
}

header div.search dl dd a:hover {
  color: #56be47;
  background: #f7f7f7
}

header div.search .is-show {
  display: block;
  animation: fadeUser .2s linear 0s 1
}

@keyframes fadeUser {
  0% {
    opacity: 0;
    top: 85px
  }
  100% {
    opacity: 1;
    top: 35px
  }
}

footer {
  *height: 1%;
  width: 100%;
  height: 72px;
  margin-top: -130px;
  padding-top: 280px;
  font-size: .75rem;
  color: #928407
}

footer:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

footer a {
  color: #928407;
  padding: 0 5px
}

footer a:hover {
  text-decoration: underline
}

body {
  background: #7cdffa url("../img/bg_center.png") repeat-y center top
}

header div.search span {
  background: url("../img/down.png") no-repeat 45px center
}

footer {
  background: #7cdffa url("../img/bg_footer.png") no-repeat center bottom
}

#login {
  background: #7cdffa url("../img/bg_login.png") no-repeat center top
}

#login .qrcode {
  background: url("../img/img_balloon.png") no-repeat center top
}

.arrow-left {
  background-image: url("../img/img_arrow.png")
}

.arrow-left:hover {
  background-image: url("../img/img_arrow_hover.png")
}

.arrow-right {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-image: url("../img/img_arrow.png")
}

.arrow-right:hover {
  background-image: url("../img/img_arrow_hover.png")
}

.banner_nav {
  background: url("../img/bg_home_01.png") repeat-y center top
}

.individuality_nav {
  background: url("../img/bg_home_02.png") repeat-y center top
}

.book_nav,
.columns_nav,
.curriculum_nav,
.periodical_nav {
  background: url("../img/bg_home_02.png") repeat-y center top
}

.analyze .submit_top {
  background-image: url("../img/img_07.png") !important
}

.statusbar {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 3;
  position: fixed;
  width: 70px;
  height: 100%;
  background: #fff
}

.statusbar .bar_nav {
  margin-top: 70px;
  position: relative
}

.statusbar .bar_nav dd,
.statusbar .bar_nav dl,
.statusbar .bar_nav dt {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%
}

.statusbar .bar_nav dl dt {
  height: 20px;
  border-bottom: solid 1px #ddd
}

.statusbar .bar_nav dl dt.login {
  height: 105px;
  padding: 20px 0;
  position: relative
}

.statusbar .bar_nav dl dt.login a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1
}

.statusbar .bar_nav dl dt.login a img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: solid 1px #ddd !important;
  border-radius: 50%
}

.statusbar .bar_nav dl dt.login a span {
  line-height: 46px;
  color: #56be47;
  font-size: .75rem
}

.statusbar .bar_nav dl dt.login .login_win {
  top: 15px;
  right: 70px;
  bottom: auto;
  left: auto;
  z-index: 5;
  position: absolute;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  display: none;
  width: 375px;
  height: 400px;
  border-radius: 4px;
  background: #fff
}

.statusbar .bar_nav dl dt.login .login_win s {
  top: 8px;
  right: 12px;
  bottom: auto;
  left: auto;
  z-index: 6;
  position: absolute;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #ccc;
  cursor: pointer
}

.statusbar .bar_nav dl dt.login .login_win h1 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #56be47
}

.statusbar .bar_nav dl dt.login .login_win ul {
  *height: 1%;
  width: 320px;
  margin: 0 auto
}

.statusbar .bar_nav dl dt.login .login_win ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.statusbar .bar_nav dl dt.login .login_win ul li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 36px;
  border: solid 1px #ccc;
  border-radius: 18px;
  margin-bottom: 30px;
  position: relative
}

.statusbar .bar_nav dl dt.login .login_win ul li i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: left;
  width: 46px;
  height: 36px;
  line-height: 36px;
  color: #ccc
}

.statusbar .bar_nav dl dt.login .login_win ul li input[type='password'],
.statusbar .bar_nav dl dt.login .login_win ul li input[type='text'] {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: left;
  width: 227px;
  height: 36px;
  border: none;
  font-size: .875rem;
  color: #ccc
}

.statusbar .bar_nav dl dt.login .login_win ul li input[type='button'] {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 7;
  position: absolute;
  border: none;
  cursor: pointer;
  display: block;
  width: 46px;
  height: 36px;
  background: rgba(255, 255, 255, 0);
  outline: 0
}

.statusbar .bar_nav dl dt.login .login_win ul li i.icon-search {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 6;
  position: absolute
}

.statusbar .bar_nav dl dt.login .login_win ul li dl {
  -webkit-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -moz-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  top: 38px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 99990;
  position: absolute;
  display: none;
  width: 310px;
  padding: 5px;
  border: solid 1px #ddd;
  background: #fff
}

.statusbar .bar_nav dl dt.login .login_win ul li dl dd {
  width: 100%
}

.statusbar .bar_nav dl dt.login .login_win ul li dl dd a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  line-height: 36px;
  padding: 0;
  font-size: .875rem;
  color: #666;
  text-align: left;
  text-indent: 16px
}

.statusbar .bar_nav dl dt.login .login_win ul li dl dd a:hover {
  color: #56be47;
  background: #f7f7f7
}

.statusbar .bar_nav dl dt.login .login_win ul li .is-show {
  display: block;
  animation: fadeUser .2s linear 0s 1
}

@keyframes fadeUser {
  0% {
    opacity: 0;
    top: 85px
  }
  100% {
    opacity: 1;
    top: 35px
  }
}

.statusbar .bar_nav dl dt.login .login_win .cancel,
.statusbar .bar_nav dl dt.login .login_win .submit {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 155px;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  padding: 0;
  font-size: .875rem
}

.statusbar .bar_nav dl dt.login .login_win .submit {
  border: solid 1px #439b37;
  background: #56be47;
  color: #fff
}

.statusbar .bar_nav dl dt.login .login_win .submit:hover {
  background: #439b37
}

.statusbar .bar_nav dl dt.login .login_win .cancel {
  border: solid 1px #ccc;
  background: #f7f7f7;
  color: #999
}

.statusbar .bar_nav dl dt.login .login_win .cancel:hover {
  background: #ddd
}

.statusbar .bar_nav dl dt.login .login_win .forget {
  top: auto;
  right: 20px;
  bottom: 30px;
  left: auto;
  z-index: 6;
  position: absolute;
  font-size: .875rem;
  color: #ccc
}

.statusbar .bar_nav dl dt.login .login_win .forget:hover {
  text-decoration: underline;
  color: #666
}

.statusbar .bar_nav dl dt.logoff {
  height: 125px;
  padding: 10px 0;
  position: relative
}

.statusbar .bar_nav dl dt.logoff img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: solid 1px #ddd !important;
  border-radius: 50%
}

.statusbar .bar_nav dl dt.logoff strong {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96%;
  line-height: 20px;
  font-size: .75rem
}

.statusbar .bar_nav dl dt.logoff>span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96%;
  line-height: 20px;
  font-size: .75rem;
  color: #56be47
}

.statusbar .bar_nav dl dt.logoff a.sign {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: .75rem;
  margin: 5px auto;
  padding: 0 6px;
  border: solid 1px #fd6951;
  border-radius: 10px;
  color: #fd6951
}

.statusbar .bar_nav dl dt.logoff a.sign:hover {
  color: #fff;
  background: #fd6951
}

.statusbar .bar_nav dl dt.logoff a.sign i {
  margin-right: 2px
}

.statusbar .bar_nav dl dt.logoff a.sign.finish {
  border: solid 1px #ccc;
  color: #666
}

.statusbar .bar_nav dl dt.logoff .get {
  top: auto;
  right: 70px;
  bottom: 15px;
  left: auto;
  z-index: 4;
  position: absolute;
  width: 50px
}

.statusbar .bar_nav dl dt.logoff .sign_win {
  top: 15px;
  right: 70px;
  bottom: auto;
  left: auto;
  z-index: 5;
  position: absolute;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  display: none;
  width: 290px;
  height: 230px;
  border-radius: 4px;
  background: #fff
}

.statusbar .bar_nav dl dt.logoff .sign_win s {
  top: 8px;
  right: 12px;
  bottom: auto;
  left: auto;
  z-index: 6;
  position: absolute;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #ccc;
  cursor: pointer
}

.statusbar .bar_nav dl dt.logoff .sign_win .tit {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 95px;
  background: #f9f9f9;
  color: #56be47
}

.statusbar .bar_nav dl dt.logoff .sign_win .tit i {
  display: block;
  margin: 20px 0 6px;
  font-size: 2rem
}

.statusbar .bar_nav dl dt.logoff .sign_win .tit h1 {
  font-weight: lighter;
  text-indent: 10px
}

.statusbar .bar_nav dl dt.logoff .sign_win .star {
  width: 100%;
  height: 50px;
  line-height: 68px;
  color: #fdc856
}

.statusbar .bar_nav dl dt.logoff .sign_win .star .head_ico {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 24px;
  border-radius: 50%;
  background: #fdd06f
}

.statusbar .bar_nav dl dt.logoff .sign_win .star .head_ico i {
  font-size: .875rem;
  color: #fff
}

.statusbar .bar_nav dl dt.logoff .sign_win p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 40px;
  font-size: .875rem;
  font-weight: lighter;
  color: #666
}

.statusbar .bar_nav dl dt.logoff .sign_win .step a {
  border: solid 1px #fff;
  width: 17px;
  position: relative
}

.statusbar .bar_nav dl dt.logoff .sign_win .step a i {
  top: -3px;
  right: auto;
  bottom: auto;
  left: 2px;
  z-index: 7;
  position: absolute;
  color: #fff
}

.statusbar .bar_nav dl dt.logoff a.leave {
  display: none;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  top: 5px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 7;
  position: absolute;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 25px 0;
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff
}

.statusbar .bar_nav dl dt.logoff a.leave i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 30px;
  font-size: 1.5rem
}

.statusbar .bar_nav dl dt.logoff a.leave span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 0.875rem
}

.statusbar .bar_nav dl dd {
  height: 70px;
  position: relative
}

.statusbar .bar_nav dl dd a {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  color: #666
}

.statusbar .bar_nav dl dd a i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 1.5rem
}

.statusbar .bar_nav dl dd a span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 28px;
  font-size: .75rem
}

.statusbar .bar_nav dl dd a:hover {
  /*color: #fff;*/
  /*background: #56be47*/
}

.statusbar .bar_nav dl dd .get {
  top: auto;
  right: 70px;
  bottom: 25px;
  left: auto;
  z-index: 4;
  position: absolute;
  width: 75px
}

.statusbar .bar_nav dl dd .feedback_win {
  top: -150px;
  right: 70px;
  bottom: auto;
  left: auto;
  z-index: 5;
  position: absolute;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  display: none;
  width: 375px;
  height: 390px;
  border-radius: 4px;
  background: #fff
}

.statusbar .bar_nav dl dd .feedback_win s {
  top: 8px;
  right: 12px;
  bottom: auto;
  left: auto;
  z-index: 6;
  position: absolute;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #ccc;
  cursor: pointer
}

.statusbar .bar_nav dl dd .feedback_win h1 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #56be47
}

.statusbar .bar_nav dl dd .feedback_win textarea {
  width: 310px;
  margin: 0 auto 10px;
  padding: 10px;
  resize: none;
  outline: none;
  border: solid 1px #ccc;
  border-radius: 3px;
  font-size: .875rem;
  color: #ccc
}

.statusbar .bar_nav dl dd .feedback_win textarea.textarea_editor {
  height: 130px
}

.statusbar .bar_nav dl dd .feedback_win textarea.textarea_contact {
  height: 30px
}

.statusbar .bar_nav dl dd .feedback_win .cancel,
.statusbar .bar_nav dl dd .feedback_win .submit {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 155px;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  padding: 0;
  font-size: .875rem
}

.statusbar .bar_nav dl dd .feedback_win .submit {
  border: solid 1px #439b37;
  background: #56be47;
  color: #fff
}

.statusbar .bar_nav dl dd .feedback_win .submit:hover {
  /*background: #439b37*/
}

.statusbar .bar_nav dl dd .feedback_win .cancel {
  border: solid 1px #ccc;
  background: #f7f7f7;
  color: #999
}

.statusbar .bar_nav dl dd .feedback_win .cancel:hover {
  /*background: #ddd*/
}

.statusbar .bar_nav dl dd.qrcode div {
  top: -50px;
  right: 70px;
  bottom: auto;
  left: auto;
  z-index: 5;
  position: absolute;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  width: 136px;
  height: 153px;
  background: url("../img/qrcode_login.png") no-repeat center center;
  display: none
}

.statusbar .bar_nav dl:last-of-type dd {
  height: 36px
}

.statusbar .bar_nav dl:last-of-type dd a {
  height: 16px
}

.statusbar .bar_nav dl:last-of-type dd a i {
  font-size: 1rem;
  color: #999
}

.statusbar .bar_nav dl:last-of-type dd a:hover i {
  /*color: #fff*/
}

.statusbar .bar_nav .get {
  padding: 5px 15px;
  font-size: .75rem;
  color: #fff;
  background: #fd6951
}

.statusbar .bar_nav .get span {
  font-weight: lighter
}

.statusbar .bar_nav .get s {
  top: 30%;
  right: -7px;
  bottom: auto;
  left: auto;
  z-index: 4;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 7px solid #fd6951;
  border-bottom: 6px solid transparent
}

#login {
  *height: 1%;
  min-height: 210px;
  width: 100%
}

#login:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

#login .default_nav {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 2;
  position: absolute;
  width: 910px;
  height: 420px;
  margin: -210px 0 0 -455px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #f0cd13, 0 0 0 16px #fff6aa, 4px 4px 0 16px #d3b619
}

#login .default_nav .qrcode {
  top: -140px;
  right: -130px;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 130px;
  padding: 90px 14px 0
}

#login .default_nav .qrcode a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #e2f2f7;
  color: #666
}

#login .default_nav .qrcode a i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 15px 10px 10px
}

#login .default_nav .qrcode a span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 0 10px;
  line-height: 16px
}

#login .default_nav .qrcode a:hover {
  /*color: #56be47*/
}

#login .default_nav .qrcode img {
  top: auto;
  right: auto;
  bottom: -165px;
  left: -27px;
  z-index: 2;
  position: absolute;
  display: none
}

#login .default_nav .device {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 494px;
  height: 384px;
  margin: 17px;
  border: solid 1px #ddd;
  position: relative
}

#login .default_nav .device .swiper-container {
  width: 100%;
  min-width: 494px;
  height: 384px
}

#login .default_nav .device .swiper-container img {
  min-height: 384px
}

#login .default_nav .device .arrow-left,
#login .default_nav .device .arrow-right {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 50%;
  text-align: center
}

#login .default_nav .device .arrow-left i,
#login .default_nav .device .arrow-right i {
  display: block;
  width: 100%;
  height: 100%;
  margin: 6px 0 0 2px
}

#login .default_nav .device .arrow-left {
  top: 50%;
  right: 13px;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute
}

#login .default_nav .device .arrow-left:hover {
  /*background: rgba(0, 0, 0, 0.3)*/
}

#login .default_nav .device .arrow-right {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 13px;
  z-index: 2;
  position: absolute
}

#login .default_nav .device .arrow-right:hover {
  /*background: rgba(0, 0, 0, 0.3)*/
}

#login .default_nav .device .pagination {
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
  z-index: 2;
  position: absolute
}

#login .default_nav .login_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 370px;
  height: 420px
}

#login .default_nav .login_nav h1 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 95px;
  text-align: center
}

#login .default_nav .login_nav h1 img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-top: 30px
}

#login .default_nav .login_nav ul {
  *height: 1%;
  width: 320px;
  margin: 0 auto
}

#login .default_nav .login_nav ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

#login .default_nav .login_nav ul li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 36px;
  border: solid 1px #ccc;
  border-radius: 18px;
  margin-bottom: 30px;
  position: relative
}

#login .default_nav .login_nav ul li i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: left;
  width: 46px;
  height: 36px;
  line-height: 36px;
  color: #ccc
}

#login .default_nav .login_nav ul li input[type='password'],
#login .default_nav .login_nav ul li input[type='text'] {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: left;
  width: 227px;
  height: 36px;
  border: none;
  font-size: .875rem;
  color: #ccc
}

#login .default_nav .login_nav ul li input[type='button'] {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 7;
  position: absolute;
  border: none;
  cursor: pointer;
  display: block;
  width: 46px;
  height: 36px;
  background: rgba(255, 255, 255, 0);
  outline: 0
}

#login .default_nav .login_nav ul li i.icon-search {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 6;
  position: absolute
}

#login .default_nav .login_nav ul li dl {
  -webkit-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -moz-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  top: 38px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 99990;
  position: absolute;
  display: none;
  width: 310px;
  padding: 5px;
  border: solid 1px #ddd;
  background: #fff
}

#login .default_nav .login_nav ul li dl dd {
  width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: 14px
}

#login .default_nav .login_nav ul li dl dd a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  line-height: 36px;
  padding: 0;
  font-size: .875rem;
  color: #666;
  text-align: left;
  text-indent: 16px
}

#login .default_nav .login_nav ul li dl dd a:hover {
  /*color: #56be47;*/
  /*background: #f7f7f7*/
}

#login .default_nav .login_nav ul li .is-show {
  display: block;
  animation: fadeUser .2s linear 0s 1
}

@keyframes fadeUser {
  0% {
    opacity: 0;
    top: 85px
  }
  100% {
    opacity: 1;
    top: 35px
  }
}

#login .default_nav .login_nav .cancel,
#login .default_nav .login_nav .submit {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 155px;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  padding: 0;
  font-size: .875rem
}

#login .default_nav .login_nav .submit {
  border: solid 1px #439b37;
  background: #56be47;
  color: #fff
}

#login .default_nav .login_nav .submit:hover {
  background: #439b37
}

#login .default_nav .login_nav .cancel {
  border: solid 1px #ccc;
  background: #f7f7f7;
  color: #999
}

#login .default_nav .login_nav .cancel:hover {
  background: #ddd
}

#login .default_nav .login_nav .forget {
  top: auto;
  right: 20px;
  bottom: 30px;
  left: auto;
  z-index: 6;
  position: absolute;
  font-size: .875rem;
  color: #ccc
}

#login .default_nav .login_nav .forget:hover {
  text-decoration: underline;
  color: #666
}

.device .swiper-container {
  width: 1000px;
  margin: 0 auto
}

.device .pagination {
  width: 100%
}

.device .pagination .swiper-pagination-switch {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 11px;
  height: 5px;
  margin: 0 3px;
  border-radius: 10px;
  background: #dbc934;
  cursor: pointer;
  border: 1px solid transparent
}

.device .pagination .swiper-active-switch {
  width: 17px;
  height: 5px;
  border-radius: 3px;
  background: #56be47;
  border: solid 1px #28b214
}

.device .arrow-left,
.device .arrow-right {
  margin-top: -23px;
  width: 33px;
  height: 47px
}

.device .arrow-left {
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute
}

.device .arrow-right {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  position: absolute
}

.banner_nav {
  *height: 1%;
  position: relative;
  width: 1140px;
  height: 310px;
  margin: 0 auto;
  padding: 35px 0 20px
}

.banner_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.banner_nav .default_nav {
  height: 310px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #f0cd13, 0 0 0 16px #fff6aa, 4px 4px 0 16px #d3b619
}

.banner_nav .device .swiper-banner {
  top: 35px;
  right: auto;
  bottom: auto;
  left: 70px;
  z-index: 2;
  position: absolute;
  height: 310px
}

.banner_nav .device .swiper-banner .swiper-slide img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 1000px;
  height: 310px;
  border-radius: 12px
}

.banner_nav .device .banner-pagination {
  top: auto;
  right: auto;
  bottom: -4px;
  left: 0;
  z-index: 2;
  position: absolute
}

.individuality_nav {
  *height: 1%;
  position: relative;
  width: 1140px;
  height: 600px;
  margin: 0 auto;
  padding: 75px 0 20px
}

.individuality_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.individuality_nav .img_balloon {
  top: 0;
  right: auto;
  bottom: auto;
  left: 5px;
  z-index: -1;
  position: absolute;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg)
}

.individuality_nav .default_nav {
  height: 600px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #f0cd13, 0 0 0 16px #fff6aa, 4px 4px 0 16px #d3b619;
  position: relative
}

.individuality_nav .default_nav .tit_pic {
  top: -57px;
  right: auto;
  bottom: auto;
  left: 371px;
  z-index: 2;
  position: absolute
}

.individuality_nav .default_nav .title {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 70px;
  line-height: 100px;
  font-size: .75rem;
  color: #56be47;
  overflow: hidden
}

.individuality_nav .default_nav .title span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-right: 10px
}

.individuality_nav .default_nav .title a {
  color: #56be47
}

.individuality_nav .default_nav .title a:hover {
  color: #33752a
}

.individuality_nav .device .swiper-individuality {
  top: 150px;
  right: auto;
  bottom: auto;
  left: 70px;
  z-index: 2;
  position: absolute;
  height: 500px
}

.individuality_nav .device .swiper-individuality .swiper-slide ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 0
}

.individuality_nav .device .swiper-individuality .swiper-slide ul li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 200px;
  height: 265px;
  text-align: center;
  font-size: .875rem
}

.individuality_nav .device .swiper-individuality .swiper-slide ul li a {
  display: block;
  width: 100%;
  height: 245px;
  padding-top: 20px;
  color: #343434
}

.individuality_nav .device .swiper-individuality .swiper-slide ul li a img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 120px;
  height: 163px
}

.individuality_nav .device .swiper-individuality .swiper-slide ul li a p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 15px auto;
  width: 120px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden
}

.individuality_nav .device .swiper-individuality .swiper-slide ul li a:hover {
  background: #f7f7f7
}

.individuality_nav .device .individuality-pagination {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 0;
  z-index: 2;
  position: absolute
}

.book_nav,
.columns_nav,
.curriculum_nav,
.periodical_nav {
  *height: 1%;
  position: relative;
  width: 1140px;
  height: 620px;
  margin: 0 auto;
  padding: 75px 0 20px
}

.book_nav:after,
.columns_nav:after,
.curriculum_nav:after,
.periodical_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.book_nav .default_nav,
.columns_nav .default_nav,
.curriculum_nav .default_nav,
.periodical_nav .default_nav {
  height: 620px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #f0cd13, 0 0 0 16px #fff6aa, 4px 4px 0 16px #d3b619;
  position: relative
}

.book_nav .default_nav .tit_pic,
.columns_nav .default_nav .tit_pic,
.curriculum_nav .default_nav .tit_pic,
.periodical_nav .default_nav .tit_pic {
  top: -57px;
  right: auto;
  bottom: auto;
  left: 371px;
  z-index: 2;
  position: absolute
}

.book_nav .default_nav .title,
.columns_nav .default_nav .title,
.curriculum_nav .default_nav .title,
.periodical_nav .default_nav .title {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  line-height: 100px;
  font-size: .75rem;
  color: #56be47;
  overflow: hidden
}

.book_nav .default_nav .title span,
.columns_nav .default_nav .title span,
.curriculum_nav .default_nav .title span,
.periodical_nav .default_nav .title span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-right: 10px
}

.book_nav .default_nav .title a,
.columns_nav .default_nav .title a,
.curriculum_nav .default_nav .title a,
.periodical_nav .default_nav .title a {
  color: #56be47
}

.book_nav .default_nav .title a:hover,
.columns_nav .default_nav .title a:hover,
.curriculum_nav .default_nav .title a:hover,
.periodical_nav .default_nav .title a:hover {
  color: #33752a
}

.book_nav .default_nav .ew_tab,
.columns_nav .default_nav .ew_tab,
.curriculum_nav .default_nav .ew_tab,
.periodical_nav .default_nav .ew_tab {
  width: 100%;
  height: 100%
}

.book_nav .default_nav .ew_tab>ul,
.columns_nav .default_nav .ew_tab>ul,
.curriculum_nav .default_nav .ew_tab>ul,
.periodical_nav .default_nav .ew_tab>ul {
  display: block;
  width: 100%;
  height: 30px;
  padding: 40px 0 10px
}

.book_nav .default_nav .ew_tab>ul .tab-i,
.book_nav .default_nav .ew_tab>ul a,
.columns_nav .default_nav .ew_tab>ul .tab-i,
.columns_nav .default_nav .ew_tab>ul a,
.curriculum_nav .default_nav .ew_tab>ul .tab-i,
.curriculum_nav .default_nav .ew_tab>ul a,
.periodical_nav .default_nav .ew_tab>ul .tab-i,
.periodical_nav .default_nav .ew_tab>ul a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  padding: 3px 10px;
  margin: 0 5px;
  font-size: .875rem;
  border: solid 1px #56be47;
  color: #56be47;
  background: #fff;
  border-radius: 15px;
  cursor: pointer
}

.book_nav .default_nav .ew_tab>ul .tab-i:hover,
.book_nav .default_nav .ew_tab>ul a:hover,
.columns_nav .default_nav .ew_tab>ul .tab-i:hover,
.columns_nav .default_nav .ew_tab>ul a:hover,
.curriculum_nav .default_nav .ew_tab>ul .tab-i:hover,
.curriculum_nav .default_nav .ew_tab>ul a:hover,
.periodical_nav .default_nav .ew_tab>ul .tab-i:hover,
.periodical_nav .default_nav .ew_tab>ul a:hover {
  color: #fff;
  background: #56be47
}

.book_nav .default_nav .ew_tab>ul .tab-cur,
.columns_nav .default_nav .ew_tab>ul .tab-cur,
.curriculum_nav .default_nav .ew_tab>ul .tab-cur,
.periodical_nav .default_nav .ew_tab>ul .tab-cur {
  color: #fff;
  background: #56be47
}

.book_nav .default_nav .ew_tab .tab-c,
.columns_nav .default_nav .ew_tab .tab-c,
.curriculum_nav .default_nav .ew_tab .tab-c,
.periodical_nav .default_nav .ew_tab .tab-c {
  display: none
}

.book_nav .default_nav .ew_tab .tab-c>ul,
.columns_nav .default_nav .ew_tab .tab-c>ul,
.curriculum_nav .default_nav .ew_tab .tab-c>ul,
.periodical_nav .default_nav .ew_tab .tab-c>ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 0
}

.book_nav .default_nav .ew_tab .tab-c>ul li,
.columns_nav .default_nav .ew_tab .tab-c>ul li,
.curriculum_nav .default_nav .ew_tab .tab-c>ul li,
.periodical_nav .default_nav .ew_tab .tab-c>ul li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 200px;
  height: 265px;
  text-align: center;
  font-size: .875rem
}

.book_nav .default_nav .ew_tab .tab-c>ul li a,
.columns_nav .default_nav .ew_tab .tab-c>ul li a,
.curriculum_nav .default_nav .ew_tab .tab-c>ul li a,
.periodical_nav .default_nav .ew_tab .tab-c>ul li a {
  display: block;
  width: 100%;
  height: 245px;
  padding-top: 20px;
  color: #343434
}

.book_nav .default_nav .ew_tab .tab-c>ul li a img,
.columns_nav .default_nav .ew_tab .tab-c>ul li a img,
.curriculum_nav .default_nav .ew_tab .tab-c>ul li a img,
.periodical_nav .default_nav .ew_tab .tab-c>ul li a img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 120px;
  height: 163px
}

.book_nav .default_nav .ew_tab .tab-c>ul li a p,
.columns_nav .default_nav .ew_tab .tab-c>ul li a p,
.curriculum_nav .default_nav .ew_tab .tab-c>ul li a p,
.periodical_nav .default_nav .ew_tab .tab-c>ul li a p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 20px auto;
  width: 120px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden
}

.book_nav .default_nav .ew_tab .tab-c>ul li a:hover,
.columns_nav .default_nav .ew_tab .tab-c>ul li a:hover,
.curriculum_nav .default_nav .ew_tab .tab-c>ul li a:hover,
.periodical_nav .default_nav .ew_tab .tab-c>ul li a:hover {
  background: #f7f7f7
}

.book_nav .img_balloon,
.curriculum_nav .img_balloon {
  top: 0;
  right: 5px;
  bottom: auto;
  left: auto;
  z-index: -1;
  position: absolute;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg)
}

.periodical_nav .img_balloon {
  top: 0;
  right: auto;
  bottom: auto;
  left: 5px;
  z-index: -1;
  position: absolute;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg)
}

.curriculum_nav {
  height: 480px !important
}

.curriculum_nav .default_nav {
  height: 480px !important
}

.curriculum_nav .default_nav .tab-c li {
  width: 250px !important;
  height: 195px !important
}

.curriculum_nav .default_nav .tab-c li a {
  height: 175px !important;
  padding-top: 20px !important
}

.curriculum_nav .default_nav .tab-c li a img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 200px !important;
  height: 119px !important
}

.curriculum_nav .default_nav .tab-c li a p {
  width: 140px !important;
  margin: 10px auto !important
}

.columns_nav {
  width: 1000px
}

.columns_nav .img_balloon:first-of-type {
  top: 0;
  right: auto;
  bottom: auto;
  left: -60px;
  z-index: -1;
  position: absolute;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg)
}

.columns_nav .img_balloon:last-of-type {
  top: 0;
  right: -60px;
  bottom: auto;
  left: auto;
  z-index: -1;
  position: absolute;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg)
}

.columns_nav .default_nav {
  float: left;
  width: 455px
}

.columns_nav .default_nav:first-of-type {
  margin-right: 90px
}

.columns_nav .default_nav:first-of-type i {
  top: 12px;
  right: auto;
  bottom: auto;
  left: 65px;
  z-index: 2;
  position: absolute;
  font-size: 1.25rem;
  color: #fcb724
}

.columns_nav .default_nav:first-of-type ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1
}

.columns_nav .default_nav:first-of-type ul li {
  width: 425px;
  height: 48px;
  line-height: 48px;
  padding: 23px 0;
  margin: 0 15px;
  border-bottom: solid 1px #ccc;
  text-align: left
}

.columns_nav .default_nav:first-of-type ul li:nth-child(1)>s {
  color: #fb531f
}

.columns_nav .default_nav:first-of-type ul li:nth-child(2)>s,
.columns_nav .default_nav:first-of-type ul li:nth-child(3)>s {
  color: #fcb724
}

.columns_nav .default_nav:first-of-type ul li img,
.columns_nav .default_nav:first-of-type ul li s,
.columns_nav .default_nav:first-of-type ul li span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 0 8px
}

.columns_nav .default_nav:first-of-type ul li s {
  font-weight: bold;
  text-decoration: none;
  color: #666
}

.columns_nav .default_nav:first-of-type ul li img {
  width: 45px;
  height: 45px;
  border-radius: 50%
}

.columns_nav .default_nav:first-of-type ul li span {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 88px;
  text-align: center
}

.columns_nav .default_nav:last-of-type ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1
}

.columns_nav .default_nav:last-of-type ul li {
  width: 425px;
  height: 60px;
  padding: 17px 0;
  margin: 0 15px;
  border-bottom: solid 1px #ccc;
  text-align: left
}

.columns_nav .default_nav:last-of-type ul li img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 60px;
  height: 60px;
  margin-right: 12px
}

.columns_nav .default_nav:last-of-type ul li div {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 345px
}

.columns_nav .default_nav:last-of-type ul li div span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 99%
}

.columns_nav .default_nav:last-of-type ul li div span a {
  color: #343434
}

.columns_nav .default_nav:last-of-type ul li div span a:hover {
  text-decoration: underline
}

.columns_nav .default_nav:last-of-type ul li div p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 99%;
  margin-top: 20px;
  font-size: .875rem;
  color: #666
}

.columns_nav .default_nav .tit_pic {
  top: -46px;
  left: 119px
}

.columns_nav .default_nav a.more {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: .875rem;
  color: #56be47
}

.columns_nav .default_nav a.more:hover {
  text-decoration: underline
}

.read_nav {
  min-height: 600px;
  height: auto !important;
  height: 600px;
  *height: 1%;
  position: relative;
  width: 1140px;
  margin: 0 auto;
  padding: 50px 0 20px
}

.read_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.read_nav .default_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 750px;
  height: auto !important;
  height: 750px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #f0cd13, 0 0 0 16px #fff6aa, 4px 4px 0 16px #d3b619;
  position: relative
}

.read_nav .default_nav .ew_tab {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1
}

.read_nav .default_nav .ew_tab>ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 966px;
  height: 46px;
  margin: 15px 17px 0;
  text-align: left;
  border-bottom: solid 2px #f1f1f1
}

.read_nav .default_nav .ew_tab>ul .tab-i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: .875rem;
  border-radius: 8px 8px 0 0;
  color: #8c8c8c;
  background: #f1f1f1;
  border-bottom: solid 2px #ddd;
  cursor: pointer
}

.read_nav .default_nav .ew_tab>ul .tab-cur {
  color: #fff;
  background: #56be47;
  border-bottom: solid 2px #439b37
}

.read_nav .default_nav .ew_tab .tab-c {
  min-height: 750px;
  height: auto !important;
  height: 750px;
  display: none
}

.read_nav .default_nav .ew_tab .tab-c .group_book {
  min-height: 48px;
  height: auto !important;
  height: 48px;
  font-size: .75rem;
  color: #666;
  margin: 0 17px
}

.read_nav .default_nav .ew_tab .tab-c .group_book dl {
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: left;
  border-bottom: dashed 1px #ddd
}

.read_nav .default_nav .ew_tab .tab-c .group_book dl dt {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 60px;
  height: 100%;
  color: #999
}

.read_nav .default_nav .ew_tab .tab-c .group_book dl dd {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  height: 100%
}

.read_nav .default_nav .ew_tab .tab-c .group_book dl dd a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  margin: 11px 5px;
  color: #666
}

.read_nav .default_nav .ew_tab .tab-c .group_book dl dd a.current,
.read_nav .default_nav .ew_tab .tab-c .group_book dl dd a:active,
.read_nav .default_nav .ew_tab .tab-c .group_book dl dd a:hover {
  color: #fff;
  background: #56be47
}

.read_nav .default_nav .ew_tab .tab-c .list_book {
  *height: 1%;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  margin: 20px 17px
}

.read_nav .default_nav .ew_tab .tab-c .list_book:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 966px;
  font-size: 0;
  text-align: left
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 193.2px;
  height: 265px;
  text-align: center;
  font-size: .875rem
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul li a {
  display: block;
  width: 100%;
  height: 245px;
  padding-top: 20px;
  color: #343434
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul li a img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 120px;
  height: 163px
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul li a p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 20px auto;
  width: 120px;
  height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden
}

.read_nav .default_nav .ew_tab .tab-c .list_book ul li a:hover {
  background: #f7f7f7
}

.read_nav .default_nav .ew_tab .tab-c .list_book .no_results {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 200px;
  margin-top: -100px
}

.read_nav .default_nav .ew_tab .tab-c .list_book .no_results i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 11rem;
  color: #ccc
}

.read_nav .default_nav .ew_tab .tab-c .list_book .no_results span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  text-indent: 20px;
  color: #666
}

.read_nav .default_nav .ew_tab .tab-c div.scott {
  *height: 1%;
  color: #999
}

.read_nav .default_nav .ew_tab .tab-c div.scott:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.read_nav .default_nav .ew_tab .tab-c div.scott a,
.read_nav .default_nav .ew_tab .tab-c div.scott span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #fff;
  font-size: .875rem;
  padding: 0;
  margin: 0 5px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: #666;
  background: #fff
}

.read_nav .default_nav .ew_tab .tab-c div.scott a:active,
.read_nav .default_nav .ew_tab .tab-c div.scott a:hover,
.read_nav .default_nav .ew_tab .tab-c div.scott span:active,
.read_nav .default_nav .ew_tab .tab-c div.scott span:hover {
  color: #fff;
  background: #ddd
}

.read_nav .default_nav .ew_tab .tab-c div.scott span.current {
  border-color: #56be47;
  color: #fff;
  background: #56be47;
  font-weight: normal
}

.read_nav .default_nav .ew_tab .tab-c div.scott .arrow,
.read_nav .default_nav .ew_tab .tab-c div.scott .disabled {
  color: #999;
  border-color: #999
}

.r-container {
  display: flex;
  justify-content: center
}

.r-container input[type=radio] {
  display: none
}

.r-container .r-label.radio,
.r-container input[type=radio]:checked+.r-label {
  background: #56be47;
  border-color: #56be47
}

.r-container .r-label {
  height: 10px;
  width: 10px;
  margin: 20px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #c6c6c6;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  cursor: pointer
}

.cb-container {
  display: flex;
  justify-content: center
}

.cb-container input[type=checkbox] {
  display: none
}

.cb-container .cb-label.checked,
.cb-container input[type=checkbox]:checked+.cb-label {
  background: #56be47;
  border-color: #56be47
}

.cb-container .cb-label.checked::after,
.cb-container input[type=checkbox]:checked+.cb-label::after {
  border-color: #fff;
  height: 3px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards
}

.cb-container .cb-label.checked::before,
.cb-container input[type=checkbox]:checked+.cb-label::before {
  border-color: #fff;
  height: 15px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards
}

.cb-container .cb-label {
  height: 14px;
  width: 14px;
  margin: 20px;
  background: #efefef;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  cursor: pointer
}

.cb-container .cb-label::after,
.cb-container .cb-label::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 2px;
  background: #fff;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  content: '';
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s
}

.cb-container .cb-label::before {
  top: 10px;
  left: 5.5px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg)
}

.cb-container .cb-label::after {
  top: 6px;
  left: 1.5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

@-moz-keyframes dothabottomcheck {
  0% {
    height: 0
  }
  100% {
    height: 4px
  }
}

@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0
  }
  100% {
    height: 4px
  }
}

@keyframes dothabottomcheck {
  0% {
    height: 0
  }
  100% {
    height: 4px
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0
  }
  50% {
    height: 0
  }
  100% {
    height: 8px
  }
}

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0
  }
  50% {
    height: 0
  }
  100% {
    height: 8px
  }
}

@-moz-keyframes dothatopcheck {
  0% {
    height: 0
  }
  50% {
    height: 0
  }
  100% {
    height: 8px
  }
}

#login .default_nav .login_nav ul li input[type='password'],
#login .default_nav .login_nav ul li input[type='text'] {
  color: #666 !important
}

.book_nav .default_nav .ew_tab .tab-c>ul li a img,
.individuality_nav .device .swiper-individuality .swiper-slide ul li a img,
.periodical_nav .default_nav .ew_tab .tab-c>ul li a img {
  box-shadow: 0 0 1px #e7e7e7, 2px -2px 0 2px #fff, 4px -2px 15px 4px rgba(221, 221, 221, 0.49)
}

a#sign2 {
  color: #817474;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-size: 12px;
  margin: 10px
}

.banner_nav .device .swiper-banner {
  cursor: pointer !important
}

.report_nav {
  min-height: 600px;
  height: auto !important;
  height: 600px;
  *height: 1%;
  position: relative;
  width: 1140px;
  margin: 0 auto;
  padding: 70px 0 20px
}

.report_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.report_nav .title_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  text-shadow: rgba(0, 53, 68, 0.3) 1px 0 0, rgba(0, 53, 68, 0.3) 0 1px 0, rgba(0, 53, 68, 0.3) -1px 0 0, rgba(0, 53, 68, 0.3) 0 -1px 0;
  -webkit-text-shadow: rgba(0, 53, 68, 0.3) 1px 0 0, rgba(0, 53, 68, 0.3) 0 1px 0, rgba(0, 53, 68, 0.3) -1px 0 0, rgba(0, 53, 68, 0.3) 0 -1px 0;
  -moz-text-shadow: rgba(0, 53, 68, 0.3) 1px 0 0, rgba(0, 53, 68, 0.3) 0 1px 0, rgba(0, 53, 68, 0.3) -1px 0 0, rgba(0, 53, 68, 0.3) 0 -1px 0;
  *filter: Glow(color=rgba(0, 53, 68, 0.3), strength=1);
  width: 100%;
  margin-top: -50px;
  font-size: 1.5rem;
  color: #fff
}

.report_nav .default_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #f0cd13, 0 0 0 16px #fff6aa, 4px 4px 0 16px #d3b619
}

.report_nav .default_nav .analyze .submit_top {
  width: 100%;
  height: 250px;
  padding-top: 45px;
  border-radius: 12px 12px 0 0;
  background: #ecf7ff;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%
}

.report_nav .default_nav .analyze .submit_top img {
  margin: 0 auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: solid 1px #ddd !important
}

.report_nav .default_nav .analyze .submit_top strong {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 1.25rem;
  margin: 10px auto;
  color: #343434
}

.report_nav .default_nav .analyze .submit_top span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  color: #666
}

.report_nav .default_nav .grade_nav {
  width: 100%;
  height: 90px;
  position: relative;
  color: #56be47
}

.report_nav .default_nav .grade_nav strong {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 60px;
  line-height: 90px;
  font-size: 1.25rem;
  color: #343434
}

.report_nav .default_nav .grade_nav a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 1rem;
  color: #56be47
}

.report_nav .default_nav .grade_nav a i {
  font-size: .75rem;
  margin-left: 5px
}

.report_nav .default_nav .grade_nav dl {
  -webkit-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -moz-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  top: 90px;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 99990;
  position: absolute;
  display: none;
  width: 105px;
  padding: 5px;
  margin: 0 0 0 -52px;
  border: #56be47;
  background: #fff
}

.report_nav .default_nav .grade_nav dl dd {
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 0.875rem
}

.report_nav .default_nav .grade_nav dl dd a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666
}

.report_nav .default_nav .grade_nav dl dd a i {
  color: #fff
}

.report_nav .default_nav .grade_nav dl dd a:hover {
  color: #56be47
}

.report_nav .default_nav .grade_nav dl dd a:hover i {
  color: #56be47
}

.report_nav .default_nav .grade_nav .is-show {
  display: block;
  animation: fadeTask 0.2s linear 0s 1
}

@keyframes fadeTask {
  0% {
    opacity: 0;
    top: 140px
  }
  100% {
    opacity: 1;
    top: 90px
  }
}

.report_nav .default_nav .chart {
  margin-bottom: 3em;
  width: 100%;
  height: auto !important;
  height: 30em;
  min-height: 30em;
  background: #fff;
  position: relative
}

.report_nav .default_nav .chart .tit {
  width: 100%;
  margin-top: 20px
}

.report_nav .default_nav .chart .tit strong {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 2.5em;
  font-size: 1.5rem;
  font-weight: normal;
  color: #56be47
}

.report_nav .default_nav .chart .tit span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-weight: lighter;
  line-height: 2em;
  color: #989898
}

.report_nav .default_nav .chart .data {
  width: 96%;
  margin: 1em 2%;
  position: relative;
  z-index: 2
}

.report_nav .default_nav .chart .data li {
  display: inline-table;
  width: 32%;
  height: auto;
  font-size: 1.2em;
  color: #343434
}

.report_nav .default_nav .chart .data li strong {
  font-size: 2em;
  font-weight: normal
}

.report_nav .default_nav .chart .data li a {
  color: #343434
}

.report_nav .default_nav .chart .data li a span {
  display: inline-block
}

.report_nav .default_nav .chart .data li a i {
  font-size: 0.8em;
  color: #888
}

.report_nav .default_nav .chart #chartsRadar {
  width: 92%;
  height: 40em;
  margin: 0 auto
}

.report_nav .default_nav .chart #chartsLine {
  width: 92%;
  height: 30em;
  margin: 1em auto 0
}

.report_nav .default_nav .chart #chartsPiemini {
  width: 92%;
  height: 30em;
  margin: 0 auto
}

.report_nav .default_nav .chart #chartsBar {
  width: 92%;
  height: 30em;
  margin: 0 auto 2em
}

.report_nav .default_nav .chart #chartsPie {
  width: 92%;
  height: 30em;
  margin: 0 auto
}

.report_nav .default_nav .chart .describe {
  margin: 0 3% 1em;
  padding: 0.5em 3%;
  width: 88%;
  height: auto !important;
  height: 2em;
  min-height: 2em;
  line-height: 1.5em;
  font-size: 1em;
  color: #6b6b6b;
  background: #e7f8e5;
  text-align: left
}

.report_nav .default_nav .chart .ew_tab {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 145px;
  height: auto !important;
  height: 145px;
  width: 100%;
  margin: 30px auto;
  font-size: 0
}

.report_nav .default_nav .chart .ew_tab .tab-i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 10px auto;
  padding: 3px 20px;
  font-size: .875rem;
  color: #b3b3b3;
  background: #eaeaea;
  cursor: pointer
}

.report_nav .default_nav .chart .ew_tab .tab-i:first-of-type {
  border-radius: 15px 0 0 15px
}

.report_nav .default_nav .chart .ew_tab .tab-i:last-of-type {
  border-radius: 0 15px 15px 0
}

.report_nav .default_nav .chart .ew_tab .tab-cur {
  color: #fff;
  background: #56be47
}

.report_nav .default_nav .chart .ew_tab .tab-c {
  display: none;
  font-size: 1rem
}

.report_nav .default_nav .chart .ew_tab .tab-c li {
  width: 28%;
  border-right: solid 1px #ccc
}

.report_nav .default_nav .chart .ew_tab .tab-c li:last-of-type {
  width: 14%;
  border: 0
}

.report_nav .default_nav .chart .ew_tab .tab-c li p {
  color: #56be47
}

.report_nav .default_nav .chart .ew_tab .tab-c li p:last-of-type {
  font-size: 1rem;
  color: #666
}

.report_nav .default_nav .finishIfo_table strong {
  font-size: 1.25rem;
  color: #56be47
}

.report_min .curriculum_nav {
  min-height: 720px;
  height: auto !important;
  height: 720px;
  padding: 0
}

.report_min .curriculum_nav .evaluation_link {
  padding-bottom: 0
}

.report_min .curriculum_nav .evaluation_link span {
  font-size: 0.75rem
}

.report_min .curriculum_nav .default_nav {
  min-height: 620px;
  height: auto !important;
  height: 620px
}

.report_min .curriculum_nav .chart #chartsRadar {
  width: 92%;
  height: 400px;
  margin: 0 auto
}

.task_nav {
  min-height: 600px;
  height: auto !important;
  height: 600px;
  *height: 1%;
  position: relative;
  width: 1140px;
  margin: 0 auto;
  padding: 70px 0 20px
}

.task_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.task_nav .default_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #f0cd13, 0 0 0 16px #fff6aa, 4px 4px 0 16px #d3b619
}

.task_nav .default_nav .crumb {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 96%;
  font-size: .75rem;
  text-align: left;
  padding: 1rem 2%;
  color: #666
}

.task_nav .default_nav .crumb a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  color: #666
}

.task_nav .default_nav h1 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 96%;
  margin: 0 2%;
  padding-bottom: 0.5rem;
  font-weight: normal;
  text-align: left;
  border-bottom: solid 1px #ccc;
  position: relative
}

.task_nav .default_nav h1 a {
  top: -15px;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute
}

.task_nav .default_nav .content {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  width: 96%;
  padding: 1rem 2%;
  font-size: 0;
  text-align: left
}

.task_nav .default_nav .content .nav_l {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  font-size: .875rem;
  width: 180px;
  text-align: center
}

.task_nav .default_nav .content .nav_l img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 122px;
  height: 168px;
  margin: 10px auto;
  border: solid 1px #ddd;
  box-shadow: 2px -2px 0 1px #fff, 3px -3px 5px 3px #ddd
}

.task_nav .default_nav .content .nav_l p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 40px;
  line-height: 40px
}

.task_nav .default_nav .content .nav_l p span {
  color: #666
}

.task_nav .default_nav .content .nav_l p strong {
  font-weight: normal;
  color: #343434
}

.task_nav .default_nav .content .nav_r {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  font-size: .875rem;
  width: 740px;
  padding: 0 20px;
  text-align: left
}

.task_nav .default_nav .content .nav_r>ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%
}

.task_nav .default_nav .content .nav_r>ul>li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 40%
}

.task_nav .default_nav .content .nav_r>ul>li strong {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-weight: normal;
  height: 25px;
  color: #4e4e4e
}

.task_nav .default_nav .content .nav_r>ul>li span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  color: #a6a6a6
}

.task_nav .default_nav .content .nav_r>dl {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 30px;
  height: auto !important;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 0
}

.task_nav .default_nav .content .nav_r>dl>dt {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 65px;
  line-height: 32px;
  margin-right: 25px;
  font-size: .875rem;
  color: #666;
  text-align: right
}

.task_nav .default_nav .content .nav_r>dl>dd {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 650px;
  font-size: .875rem;
  color: #4e4e4e;
  position: relative
}

.task_nav .default_nav .content .nav_r>dl>dd input[type="text"] {
  width: 120px;
  height: 26px;
  line-height: 26px;
  margin-right: 20px;
  text-align: center
}

.task_nav .default_nav .content .nav_r>dl>dd .calendar {
  top: 30px !important;
  left: 0 !important
}

.task_nav .default_nav .content .nav_r>dl>dd .radio_span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-width: 70px;
  height: 20px;
  padding: 5px 10px 5px 0
}

.task_nav .default_nav .content .nav_r>dl>dd .radio_span strong {
  font-weight: normal
}

.task_nav .default_nav .content .nav_r>dl>dd .radio_span span {
  color: #a6a6a6
}

.task_nav .default_nav .content .nav_r>dl>dd .checkbox_span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 18px;
  line-height: 26px;
  padding: 5px 0
}

.task_nav .default_nav .content .nav_r>dl>dd .checkbox_span strong {
  font-weight: normal
}

.task_nav .default_nav .content .nav_r>dl>dd textarea {
  width: 100%;
  margin: 0 auto 10px;
  padding: 10px;
  resize: none;
  outline: none;
  border: solid 1px #ccc;
  border-radius: 3px;
  font-size: .875rem;
  color: #ccc
}

.task_nav .default_nav .content .nav_r>dl>dd textarea.textarea_editor {
  height: 130px;
  color: #333
}

.task_nav .default_nav .content .nav_r>dl>dd textarea.textarea_contact {
  height: 30px
}

.task_nav .default_nav .editor {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  width: 96%;
  padding: 1rem 2%;
  text-align: left
}

.task_nav .default_nav .editor .nav_l,
.task_nav .default_nav .editor .nav_r {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: .875rem;
  width: 465px;
  height: 650px;
  margin-right: 20px;
  border: solid 1px #ddd;
  border-radius: 5px
}

.task_nav .default_nav .editor .nav_l>.tit,
.task_nav .default_nav .editor .nav_r>.tit {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
  text-indent: 20px;
  border-bottom: solid 1px #ddd;
  color: #666
}

.task_nav .default_nav .editor .nav_l .scroll,
.task_nav .default_nav .editor .nav_r .scroll {
  width: 465px;
  height: 599px;
  overflow-x: hidden;
  overflow-y: scroll
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list,
.task_nav .default_nav .editor .nav_r .scroll .menu_list {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 106px;
  height: auto !important;
  height: 106px;
  width: 463px;
  border: solid 1px #fff;
  position: relative
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list:hover,
.task_nav .default_nav .editor .nav_r .scroll .menu_list:hover {
  border: solid 1px #56be47
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head {
  min-height: 106px;
  height: auto !important;
  height: 106px;
  position: relative;
  width: 463px;
  border-bottom: 1px solid #ddd;
  background: #fff
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head>h1,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head>h1 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 433px;
  height: 36px;
  line-height: 36px;
  margin: 0;
  border: 0;
  padding: 0 15px;
  background: #f7f7f7;
  color: gray
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head>h2,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head>h2 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 433px;
  line-height: 26px;
  padding: 10px 15px;
  font-size: .875rem;
  font-weight: lighter;
  color: #666
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head .op,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head .op {
  top: 0;
  right: 15px;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  width: auto;
  height: 36px;
  line-height: 22px;
  font-size: 0.75rem
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head .op a,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head .op a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  height: 22px;
  padding: 0 10px;
  margin: 7px 0;
  color: #666
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head .op a:first-of-type,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head .op a:first-of-type {
  border-right: solid 1px #ccc
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head .op .border_link_f,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head .op .border_link_f {
  margin: 6px 0;
  font-size: .75rem;
  color: #fff
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_head .op .border_link_f:hover,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_head .op .border_link_f:hover {
  color: #56be47
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_body,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_body {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  display: none;
  width: 403px;
  padding: 10px 30px 20px;
  border-bottom: 1px solid #ddd;
  background: #fff
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_body dl,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_body dl {
  color: gray
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_body dl dd,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_body dl dd {
  min-height: 30px;
  height: auto !important;
  height: 30px;
  width: 100%;
  font-size: 0.875rem
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_body dl dd:last-of-type,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_body dl dd:last-of-type {
  border-bottom: 1px dashed #ddd
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_body dl dd .result,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_body dl dd .result {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-left: 10px;
  padding: 2px 5px;
  font-size: .75rem;
  text-decoration: none;
  border: solid 1px #56be47;
  border-radius: 3px;
  color: #56be47
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .menu_body dl>p,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .menu_body dl>p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-top: 10px;
  font-size: .75rem;
  line-height: 22px
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .hover,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .hover {
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  z-index: 2;
  position: absolute;
  display: none;
  width: 24px;
  height: 14px;
  border: solid 1px #56be47;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  font-size: .375rem;
  text-align: center;
  color: #56be47;
  cursor: pointer
}

.task_nav .default_nav .editor .nav_l .scroll .menu_list .hover i,
.task_nav .default_nav .editor .nav_r .scroll .menu_list .hover i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  line-height: 14px
}

.task_nav .default_nav .editor .nav_l .scroll .current .hover i,
.task_nav .default_nav .editor .nav_r .scroll .current .hover i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.task_nav .default_nav .editor .nav_l .empty,
.task_nav .default_nav .editor .nav_r .empty {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 365px;
  line-height: 26px;
  padding: 100px 50px;
  color: #666
}

.task_nav .default_nav .editor .nav_l .empty i,
.task_nav .default_nav .editor .nav_r .empty i {
  margin: 0 107px;
  font-size: 150px;
  color: #ccc
}

.task_nav .default_nav .editor .nav_r {
  margin: 0
}

.task_nav .default_nav .editor .nav_r>.tit {
  position: relative
}

.task_nav .default_nav .editor .nav_r>.tit .grade {
  top: 0;
  right: 15px;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  font-size: 1rem;
  color: #56be47
}

.task_nav .default_nav .editor .nav_r>.tit .grade i {
  font-size: .75rem;
  margin-left: 5px
}

.task_nav .default_nav .editor .nav_r>.tit dl {
  -webkit-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -moz-box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  box-shadow: 0 0 5px rgba(53, 42, 9, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  top: 40px;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 99990;
  position: absolute;
  display: none;
  width: 105px;
  padding: 5px;
  margin: 0 0 0 -52px;
  border: #56be47;
  background: #fff
}

.task_nav .default_nav .editor .nav_r>.tit dl dd {
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 0.875rem
}

.task_nav .default_nav .editor .nav_r>.tit dl dd a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  text-indent: 0
}

.task_nav .default_nav .editor .nav_r>.tit dl dd a:hover {
  background: #f7f7f7;
  color: #56be47
}

.task_nav .default_nav .editor .nav_r>.tit .is-show {
  display: block;
  animation: fadeTask 0.2s linear 0s 1
}

@keyframes fadeTask {
  0% {
    opacity: 0;
    top: 90px
  }
  100% {
    opacity: 1;
    top: 40px
  }
}

.r-container {
  float: left
}

.r-container .r-label {
  margin: 5px 15px 45px 5px
}

.cb-container {
  float: left
}

.cb-container .cb-label {
  margin: 5px 15px 45px 5px
}

#succeedUp {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 2;
  position: absolute;
  display: none;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: -20px 0 0 -60px;
  border-radius: 2px;
  background: #4e4e4e;
  color: #fff;
  font-weight: lighter
}

#succeedUp s {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 15px;
  height: 15px;
  line-height: 18px;
  margin: 12px 0 11px;
  border: solid 1px #fff;
  border-radius: 50%;
  font-size: .5rem;
  text-decoration: none
}

#succeedUp span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 0.875rem
}

.cover {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 99998;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%
}

.alter_win,
.delete_win,
.new_win {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 99999;
  position: absolute;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  display: none;
  width: 340px;
  height: 160px;
  margin: -80px 0 0 -170px;
  border-radius: 4px;
  background: #fff
}

.alter_win s,
.delete_win s,
.new_win s {
  top: 8px;
  right: 12px;
  bottom: auto;
  left: auto;
  z-index: 6;
  position: absolute;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #ccc;
  cursor: pointer
}

.alter_win p,
.delete_win p,
.new_win p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 110px;
  line-height: 120px
}

.alter_win .cancel,
.alter_win .submit,
.delete_win .cancel,
.delete_win .submit,
.new_win .cancel,
.new_win .submit {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: right;
  margin-right: 10px;
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0;
  font-size: 0.875rem
}

.alter_win .submit,
.delete_win .submit,
.new_win .submit {
  border: solid 1px #439b37;
  background: #56be47;
  color: #fff
}

.alter_win .submit:hover,
.delete_win .submit:hover,
.new_win .submit:hover {
  background: #439b37
}

.alter_win .cancel,
.delete_win .cancel,
.new_win .cancel {
  border: solid 1px #ccc;
  background: #f7f7f7;
  color: #999
}

.alter_win .cancel:hover,
.delete_win .cancel:hover,
.new_win .cancel:hover {
  background: #ddd
}

.alter_win,
.new_win {
  width: 670px;
  height: 630px;
  padding: 25px 15px;
  margin: -340px 0 0 -350px
}

.alter_win>dl,
.new_win>dl {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 30px;
  height: auto !important;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 0
}

.alter_win>dl>dt,
.new_win>dl>dt {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 65px;
  line-height: 32px;
  margin-right: 25px;
  font-size: .875rem;
  color: #666;
  text-align: right
}

.alter_win>dl>dd,
.new_win>dl>dd {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 580px;
  font-size: .875rem;
  color: #4e4e4e;
  text-align: left;
  position: relative
}

.alter_win>dl>dd .radio_span,
.new_win>dl>dd .radio_span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-width: 70px;
  height: 20px;
  padding: 5px 10px 5px 0
}

.alter_win>dl>dd .radio_span strong,
.new_win>dl>dd .radio_span strong {
  font-weight: normal
}

.alter_win>dl>dd .radio_span span,
.new_win>dl>dd .radio_span span {
  color: #a6a6a6
}

.alter_win>dl>dd .checkbox_span,
.new_win>dl>dd .checkbox_span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 18px;
  line-height: 26px;
  padding: 5px 0
}

.alter_win>dl>dd .checkbox_span strong,
.new_win>dl>dd .checkbox_span strong {
  font-weight: normal
}

.alter_win>dl>dd textarea,
.new_win>dl>dd textarea {
  width: 530px;
  margin: 0 auto 10px;
  padding: 10px;
  resize: none;
  outline: none;
  border: solid 1px #ccc;
  border-radius: 3px;
  font-size: .875rem;
  color: #ccc
}

.alter_win>dl>dd textarea.textarea_editor,
.new_win>dl>dd textarea.textarea_editor {
  height: 130px
}

.alter_win>dl>dd textarea.textarea_contact,
.new_win>dl>dd textarea.textarea_contact {
  height: 80px
}

.alter_win>dl>dd .answer,
.new_win>dl>dd .answer {
  width: 550px;
  height: 32px;
  line-height: 32px;
  margin: 0;
  border: solid 1px #ccc;
  border-radius: 3px;
  font-size: 0.875rem
}

.alter_win>dl>dd .answer s,
.new_win>dl>dd .answer s {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 0;
  position: inherit;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin: 8px;
  border: solid 1px #ccc;
  border-radius: 50%
}

.alter_win>dl>dd .answer s i,
.new_win>dl>dd .answer s i {
  font-size: 0.75rem
}

.alter_win>dl>dd .answer s.select,
.new_win>dl>dd .answer s.select {
  border: solid 1px #56be47;
  background: #56be47;
  color: #fff
}

.alter_win>dl>dd .answer input[type="text"],
.new_win>dl>dd .answer input[type="text"] {
  width: 500px;
  height: 30px;
  line-height: 30px;
  border: 0;
  outline: none;
  color: #ccc
}

.alter_win>dl>dd>a.del,
.new_win>dl>dd>a.del {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  margin: 8px 0;
  font-size: 1rem;
  color: #ccc
}

.alter_win>dl>dd>a.del:hover,
.new_win>dl>dd>a.del:hover {
  color: #fb531f
}

.alter_win>dl>dd select,
.new_win>dl>dd select {
  border: solid 1px #ccc;
  width: 100px;
  height: 30px;
  background: #fff;
  color: #343434
}

section {
  *height: 1%;
  width: 100%
}

section:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.default_nav {
  width: 1000px;
  margin: 0 auto;
  *height: 1%
}

.default_nav:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}


/*# sourceMappingURL=style.css.map */